[2020-06-08 22:31] txe commented on #892
@datavectors , I made a pull request, you can read more in #894

[2020-06-09 08:28] lonix1 commented on #749
I also updated to Ubuntu 20.04 and cherrytree disappeared.

If I install the snap version, will I lose any settings, databases, etc.?

[2020-06-09 09:44] txe commented on #405
@Mizscottie  the snap configuration was fixed. If ubuntu updated cherrytree snap, then the bugfix (to copy an image from a browser) is there.

[2020-06-09 10:01] giuspen commented on #749
Hi @lonix1 you will have to copy config.cfg to the location snap is using from the current which is ~/.config/cherrytree/config.cfg
With "find / -name config.cfg" you will list both locations. If this concerns you use the flatpak. The new C++ is pretty much there and out for testing so do not rollback.

[2020-06-09 10:08] lonix1 commented on #749
Snap: Thanks!

New version: you say it's "pretty much there"... does that mean it's a proof-of-concept or that it's "usable" for day-to-day stuff (i.e. will be released soon)? I'm willing to guinea pig the thing, I have backups of my database.

[2020-06-09 10:16] giuspen commented on #749
Ok let me update the Ubuntu package and I'll point you to it

[2020-06-09 11:15] txe commented on #749
@lonix1  snap cherrytree is the same code as ordinary cherrytree, but snap itself limits interaction with the system like access to a printer or a system theme. Many people moved to ubuntu 20 since the spring, so their only option is to use snap (of flatpak) and no one complained about losing data.

[2020-06-09 11:44] gahisee commented on #749
whenever c++ version is available, please notify us immediately.
i'm expecting it to be flying off the shelf!

[2020-06-09 11:51] giuspen commented on #749
I'm going to package 0.99.1 shortly and will notify here

[2020-06-09 12:58] giuspen commented on #749
Ok go to https://www.giuspen.com/cherrytree/#downl and scroll down until you find 0.99.1 for Windows and Ubuntu 20.04

[2020-06-09 13:44] metastork commented on #749
Amazing: that seems to work pretty much flawlessly, thank you! And as a bonus, it also seems to play nice with touchscreen scrolling.

[2020-06-09 17:51] metastork opened #895 "Potential memory leak / management issue"
Version: 0.99.1 (C++ alpha)
OS: Xubuntu 20.04

You might be aware of this one already, but there seems to be an issue in the C++ version with memory management.

## Steps to reproduce:
Open a decently-sized CTB notebook. Go to the tree tab, expand all nodes, and hold down the down arrow key, to basically scroll through all notes quickly.
After that's done, check top/htop, and my Cherrytree uses mo

[2020-06-09 18:11] metastork opened #896 "Rich Text: Theme (custom) setting does not work"
Version: 0.99.1
OS: Xubuntu 20.04

This could be an XFCE issue but thought I'd share it here in case others are also experiencing this, but for me the custom theme setting for Rich Text does not seem to work properly.

Steps to reproduce:
In preferences, set a custom theme for Rich Text (i.e., something garish like the below). This does not seem to get reflected in existing or new rich text notes

[2020-06-09 18:26] txe commented on #896
Hi, thanks for reminding, I almost forgot about it.
It's a known issue, the approach used in the old cherrytree to change colors doesn't work for Gtk3. The proper fix would take a lot of time, so I skipped it until c++ version testing us finished.
I'm going to add a theme editor (like in gedit) this month or next one.

[2020-06-09 18:29] txe commented on #895
Thank for the issue! I'll take a look

[2020-06-09 18:42] metastork commented on #896
Thanks, that sounds great, and there's no hurry, it's not a showstopper.

[2020-06-09 19:16] txe commented on #784
I suppose, Expand Selected Node will expand not just node, but all its children.

[2020-06-09 19:19] txe commented on #784
Fixed in #897, expanding\collapsing all children of node can be done by wheel clicking

[2020-06-09 19:19] #784 closed

[2020-06-09 19:26] txe commented on #889
Thanks for the issue, I checked it on my system and couldn't reproduce.
On the other hand there is C++/Gtk3 version which may not have such issue.
It is still in testing, but the package can be taken from https://www.giuspen.com/cherrytree/#downl  (scroll down until you find 0.99.1)

[2020-06-09 20:30] hellsworth commented on #887
The fix is in the stable cherrytree snap now.

[2020-06-09 21:02] giuspen commented on #887
Cool thanks

[2020-06-10 06:35] Mizscottie commented on #405
@txe, @giuspen
Thank you very much, it works a treat. When you are studying topics it is so nice to just grab things on the fly, copy paste straight into CherryTree and then latter when off line you can peruse over things at your leisure and  go over all the note takings.
Thank you, once again.

[2020-06-10 08:18] keesse opened #898 "[Solved] Upgrade to Ubuntu 20.04 removed Cherrytree 0.39.3 and can't reinstall"
After trying to reinstall cherrytree_0.39.3-0_all.deb with GDebi, I got the message: Error: Dependency is nog satisfiable: python-enchant.
I did a pip2 install of enchant, can import it from python 2.7.18, but still the install doesn't work.
When trying with dpkg, I get a lot more dependency problems:
 dpkg -i cherrytree_0.39.3-0_all.deb
Selecting previously unselected package cherrytree.
(Reading

[2020-06-10 09:03] giuspen commented on #898
Please use the snap package

[2020-06-10 09:27] keesse commented on #898
Yes, installed the snap, now I can access my notes again :smiley:
@giuspen thanks!

[2020-06-10 09:58] ForeverRainbow commented on #444
Ok so I am working on the windows version of this now, it actually seems pretty easy (fingers crossed it doesnt do something weird) but I am running into the issue of mingw being _incredibly slow_ compiling window.h, this may be an issue local to my machine. Is there any reason that MSVC couldn't work with current depedencies? Because if not I think I will try and set it up and add it to the readm

[2020-06-10 10:06] txe commented on #444
MSVC cannot link Gtk libraries build by msys2/mingw as far as I know. You will have to built gtk yourself using gvsbuild and MSVC.

[2020-06-10 10:12] ForeverRainbow commented on #444
I really think conan would be a good idea here. cpputest, spdlog, fmt, 7zip and Gtk3+ (though without windows support for now) all have packages and would make cross-platform building a hell of a lot easier (the install instructions for all platforms would basically be:
1. Install conan through your package manager or the website
2. Install Gtk3+ packages if your on mingw
3. `mkdir build && conan

[2020-06-10 10:13] yssoe commented on #576
@giuspen  Hi, any idea when it will work with GTK3? Debian Testing Bullseye the flatpak and snap are not working, dev-master branch is also not working, thanks

[2020-06-10 10:17] ForeverRainbow commented on #444
@txe Ah I see, I will try and get it working later using that link you posted if mingw keeps being slow

[2020-06-10 10:29] txe commented on #444
if conan uses mingw to build cherrytree, then it will be the same slow building, no difference.

[2020-06-10 10:37] txe commented on #828
FIY, I'm going to do tomboy/gnote imports

[2020-06-10 10:40] ForeverRainbow commented on #444
But it will make getting a development environment running far easier and quicker. It also will mean that dependencies don't need to be bundled directly in cherrytree's source. Which will make commit history cleaner and allow updates for dependencies to be seperate.

conan is a bit like `npm` but more hands off

[2020-06-11 02:25] nutianlab opened #901 "compile failture on Mac"
cherrytree/future/src/ct/ct_actions_import.cc:234:24: error:
      constructor inherited by 'CtZimImportHandler' from base class 'CtParser'
      is implicitly deleted
    CtZimImportHandler handler(_pCtMainWin->get_ct_config());
                       ^
cherrytree/future/src/ct/ct_imports.h:424:51: note:
      constructor inherited by 'CtZimImportHandler' is implicitly deleted
      because base

[2020-06-11 10:24] ForeverRainbow commented on #901
hmm, interesting I shall look into it. I assume you are using clang?

[2020-06-11 14:20] nutianlab commented on #901
Um, you are right.

-----

gcc -v
Configured with: --prefix=/Library/Developer/CommandLineTools/usr --with-gxx-include-dir=/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include/c++/4.2.1
Apple clang version 11.0.3 (clang-1103.0.32.62)
Target: x86_64-apple-darwin19.5.0
Thread model: posix
InstalledDir: /Library/Developer/CommandLineTools/usr/bin

[2020-06-11 15:00] #901 closed

[2020-06-11 21:32] ForeverRainbow opened #906 "Tables are imported into the selected node rather than the imported node (C++)"
Issue for bug mentioned in #905.

When importing nodes using the html parser (so with import from html and import using pandoc) any tables are placed into the selected node rather than the node they belong to (the imported one)

[2020-06-12 05:23] nutianlab commented on #901
checkout latest,but still cann't compile.

cherrytree/future/src/ct/ct_import_zim_handler.cc:43:29: error: no viable constructor or deduction guide for deduction of template
      arguments of 'shared_ptr'
            std::shared_ptr file = CtImportHandler::_new_import_file(fpath, current_depth);

[2020-06-12 10:19] ForeverRainbow commented on #828
I am gonna do the table of contents inserting

[2020-06-12 10:26] giuspen commented on #828
Cool!

[2020-06-12 11:45] giuspen commented on #901
@ForeverRainbow could you have a look at this?

[2020-06-12 19:33] txe commented on #901
@nutianlab, it should work now

[2020-06-12 21:10] txe commented on #444
Hi guys,
I do some refactoring, please don't change any files related to imports next few days, otherwise I'd have a hard time to merge changes.

[2020-06-12 21:12] giuspen commented on #444
Sure @txe

[2020-06-13 03:59] nutianlab commented on #901
@txe @giuspen Thank you for your good co-operation and  efforts, now successful.
happy weekend guys.

[2020-06-13 20:51] ForeverRainbow commented on #878
Pandoc exporting is going to be pretty difficult, since there needs to be some way to detect which text to send through pandoc and which is internal ct formatting, and then perhaps even more complicated is joining them together.

The best and I think only sane way is to create a new node type (e.g "markdown_text") which operates like a plan-text node in terms of cherrytree formatting but has the o

[2020-06-13 22:30] #882 closed

[2020-06-13 23:35] DiagonalArg commented on #878
@ForeverRainbow - So just out of curiosity, the Lua CT plugin is not a viable approach?

[2020-06-14 01:26] ForeverRainbow commented on #878
@DiagonalArg I do not think so no. The approach I am currently running with is using html as the interface language since it is far easier to implement and maintain. A custom Lua writer is possible (I think) but due to some assumptions made and the way that the cherrytree xml is structured, it will be quite difficult

[2020-06-14 09:16] ForeverRainbow commented on #828
@txe Did #910 implement gnote and tomboy importing?

[2020-06-14 09:18] txe commented on #828
Hi, kind of, I's still going to test it

[2020-06-14 09:41] ForeverRainbow commented on #828
I am going to do the tree info, in regards to the CSV lib do we need to be able to handle external CSV (i.e csv not exported by cherrytree)? Since if not there is already existing the structure to tokenize text and implementing a csv parser would be trivial.

[2020-06-14 09:49] txe commented on #828
I suppose, csv from Excel like app can be supported

[2020-06-14 09:52] ForeverRainbow commented on #828
I am assuming that the python version uses the python `csv` module? Which only supports excel without custom formats so yeah, we could just implement a csv parser by extending `CtTextParser`

[2020-06-14 09:53] txe commented on #828
Right

[2020-06-14 10:18] ForeverRainbow commented on #828
Ok so tree info was done in 4b458f6 should have checked that :p, shall I try writing a csv parser for the tables then?

[2020-06-14 10:20] txe commented on #828
Sure, btw, New version checking is also done

[2020-06-14 10:40] giuspen commented on #828
Thanks guys, I just pushed a commit where I renamed all the stock icons which involved many source files and changed build.sh to build the Default target by default rather than Release. I will try and add a couple of unit tests over the tree info using tests/data/test.ctb and tests/data/test.ctd.

[2020-06-14 10:44] giuspen commented on #828
The debug target is faster to build also from Travis, I will change also the windows target in Travis to build the Debug target because we don't care about optimisations there. @txe you are the Mac OS man it would be great if you could add that target to travis as well in future so that we will be more wary as to not break the build. If there is a way to try the build in a sort of VM I can do that

[2020-06-14 10:47] txe commented on #828
You won't believe, I'm mac user as much as you. So, I have macos in vmware, it can be downloaded from some places :)

[2020-06-14 11:41] txe commented on #828
@ForeverRainbow ,
I wanted to used [this markdown sample](https://gist.githubusercontent.com/rt2zz/e0a1d6ab2682d2c47746950b84c0b6ee/raw/83b8b4814c3417111b9b9bef86a552608506603e/markdown-sample.md), but when I couldn't import it, the parser threw an exception.

Can you fix it or give another example that I can use for testing?

[2020-06-14 12:24] ForeverRainbow commented on #828
@txe Was that with the pandoc import or with the markdown import? The markdown import supports limited syntax (the most basic of the common md "standard" afaik) so it wouldnt be able to parse that document

[2020-06-14 12:30] txe commented on #828
supporting limited markdown is fine, but if the parser cannot read document and skip unsupported syntax, wouldn't it be useless for users?

[2020-06-14 12:31] ForeverRainbow commented on #828
Yes, it shouldn't have crashed thats a problem

[2020-06-14 12:36] ForeverRainbow commented on #828
What I think I am going to do actually is make the markdown import attempt to use pandoc and fallback to the built-in one if it cannot find it, also fix this issue with the parser xD

[2020-06-14 14:34] ForeverRainbow commented on #858
@txe So currently the built-in markdown parser in cherrytree supports very basic markdown. If we want to go further I think we are going to _need_ a tokenizer library. I am wondering whether it is worth it to go further considering that pandoc already supports markdown.

I would however like to be able to use markdown live formatting in cherrytree documents which isnt going to be possible with pan

[2020-06-14 14:47] giuspen commented on #858
@ForeverRainbow can you better describe this tokeniser what functionality has to provide? Could you write yourself some code that does that or it is really complex so you definitely need an external library?

[2020-06-14 14:54] txe commented on #858
There are import formats which are not xml based. On the other hand, using the old algorithms for them maybe the best way to deal with them. They are already tested and need less time to implement.

Cherrytree itself supports only a small amount of markdown styles, so the fact that build-in parser is basic is understandable.

[2020-06-14 15:41] ForeverRainbow commented on #858
Yep I do think the markdown needs to be incredibly complex I agree.

@giuspen The tokenizer is mostly about being able to _reliably_ tokenise. The current tokenizer I am using has a few problems (most notibly its not greedy) which I am actually fixing right now.

The advantage of a tokenizer library is that it is going to be more efficent and handler corner cases better. The "really complex" part

[2020-06-14 15:57] giuspen commented on #858
@ForeverRainbow I would ask to give a chance to the glib utility https://developer.gnome.org/glib/stable/glib-Lexical-Scanner.html first with an open mind and if really doesn't serve the purpose we can try to convince @txe to use boost

[2020-06-14 16:04] ForeverRainbow commented on #858
@giuspen Thanks for that link! I shall definitely look at it and I really should start checking whether glib does what I want already for things... xD

[2020-06-14 16:24] giuspen commented on #858
Thanks @ForeverRainbow ! 😉

[2020-06-14 18:34] kencu opened #916 "cherrytree c++ uses very new macOS libc++ features...only for 10.15+ at present"
I was working on building this with a 10.13 system I had on my lap, but there are some quite new libc++ features being asked for. The Xcode compiler (1000 series) could not handle it, so I installed llvm9, which does have the required include files, etc, but it looks like the system features on 10.13 are too old.  The general portability will be limited, as it is:
[code]

Not sure if there is a wa

[2020-06-14 22:06] ForeverRainbow commented on #916
OK, well `std::filesystem::path` is not essential, strings can always be used instead. But cherrytree does need a c++17 compiler and uses some features of c++17 quite heavily

[2020-06-14 22:25] kencu commented on #916
The libc++ implementation for macOS c++17 features has come in a bit gradually. The details are specified best in the ```__config``` header that outlines which features were available when here <https://github.com/llvm/llvm-project/blob/3d8149c2a1228609fd7d7c91a04681304a2f0ca9/libcxx/include/__config#L1424>

It depends on your target. If you want 10.15+, no problem. If you would like to target the

[2020-06-15 04:06] eleyf commented on #176
Thank you kindly @kencu

[2020-06-15 14:10] ForeverRainbow commented on #916
I think the macos version is likely to just distributed as a binary anyway, if people want to compile their own from source they should have the required toolchain.

@txe and @giuspen are better people to comment on this :p

[2020-06-15 14:26] kencu commented on #916
Even if you compile it on 10.15, if you try to distribute it on any older systems and the system libc++ doesn't have the required symbols in it, I believe you'll get a runtime error.

[2020-06-15 14:38] ForeverRainbow commented on #916
mmm yeah I forgot about that, its dynamically linked

[2020-06-15 16:35] txe commented on #916
`std::filesystem` is not used widely and can be easily replaced by [glibmm file utils](https://developer.gnome.org/glibmm/stable/group__FileUtils.html) and GIO

[2020-06-15 17:47] ForeverRainbow commented on #858
Update on the status of this #917 has (I think) implemented all the features I think cherrytree markdown needs, it does not support quotes because afaik there is no equivalent formatting within cherrytree.

[2020-06-15 19:02] giuspen commented on #916
I agree with @txe we should get rid of std::filesystem and use instead glibmm, glib and gio. See also https://developer.gnome.org/glibmm/stable/group__MiscUtils.html https://developer.gnome.org/glibmm/stable/classGio_1_1File.html all indexed at https://developer.gnome.org/glibmm/stable/ and where the binding is incomplete https://developer.gnome.org/glib/stable/ and https://developer.gnome.org/gio

[2020-06-15 20:18] txe commented on #916
I'll do it

[2020-06-15 20:30] giuspen commented on #916
thanks @txe !

[2020-06-15 23:19] #916 closed

[2020-06-15 23:22] txe commented on #916
Hi @kencu
I removed `std::filesystem` from the project, but have no opportunity to check if it is enough.
If you still have issues,  just write them down here.

[2020-06-16 02:11] zauberparacelsus opened #922 "Feature: Split file instead of single file for easier version tracking"
Would it be possible to make CherryTree store notes in a directory of text files instead of one single xml or sqlite file?  The reason for this would be for in case a user wants to use git or some other version control system with their notes.  Having everything in one file makes it version tracking more tedious if you want to commit some changes but are not ready to commit others.

[2020-06-16 04:36] DiagonalArg commented on #858
@ForeverRainbow Wouldn't a quotation just be a block indent?

[2020-06-16 05:18] kencu commented on #916
confirming that was all it took -- builds on 10.13 using llvm-9 for compiler. Thanks!

[2020-06-16 10:01] txe commented on #812
Closing cause it's not possible to reproduce the issue

[2020-06-16 10:01] #812 closed

[2020-06-16 10:02] machinexa2 opened #923 "How To Increase Size of Tree , CTRL + +(plus) increase size of text not tree"
How To Increase Size of Tree , CTRL + +(plus) increase size of text not tree. The tree is in right size of text

[2020-06-16 10:03] machinexa2 commented on #923
Sorry left side oftext

[2020-06-16 10:04] txe commented on #923
how about ctrl + wheel?

[2020-06-16 10:04] txe commented on #815
Closing cause the issue is related to the old version

[2020-06-16 10:04] #815 closed

[2020-06-16 10:05] #821 closed

[2020-06-16 10:34] ForeverRainbow commented on #922
For sqlite this is impossible due to its nature (and git doesnt like binary files anyway). For XML however this could very much be possible, I have actually been thinking that it would be nice if cherrytree could store images separately (instead of b64 encoding them into the source) which would be possible with this

[2020-06-16 12:03] ForeverRainbow commented on #828
I didn't end up doing that in the end, I improved the markdown parser built-in to cherrytree instead. Pandoc can still be used ofc but I do think its better cherrytree has support for some markdown without an external application

[2020-06-16 12:14] ForeverRainbow commented on #878
Now that pandoc importing and pandoc html exporting are done, the question is what form this "preview" of formatted text would take. I think a preview pane would be the most useful option (see: #868), and I actually tested a multi-pane system a few days ago. I think if a preview pane is going to be implemented then #868 should be done first and then a preview pane should be a subset of whatever we

[2020-06-16 12:35] ForeverRainbow commented on #868
@txe
So my initial thoughts on how best to implement it, tell me what you think:

- Separate nodes and buffers - Have `CtNodeData` as just pure data with information on their contents, which can then be used to populate a text buffer on demand
- Introduce a concept of "panes" or similar which replace the `Gtk::ScrolledWindow` (they would contain it), and have methods to populate themselves from no

[2020-06-16 12:41] sceptre357 commented on #889
i have 4 different systems all have the same issue. i have downloaded the deb package directly from   https://www.giuspen.com/software/cherrytree_0.39.3-0_all.deb

all the systems are running Debian 10 or LMDE 4 and have the same problem. they all have the latest distro updates and have the issue with not releasing the zoom control after its initiated. it happens either from ctrl+touchpad scroll o

[2020-06-16 13:06] ForeverRainbow commented on #916
@txe Mind if I write some wrapper methods and put them in the `fs` namespace? (e.g `fs::exists` and `fs::path = std::string`)

[2020-06-16 13:06] txe commented on #916
@ForeverRainbow, why?

[2020-06-16 13:08] ForeverRainbow commented on #916
Because the glib methods are a bit messy with flags and such and if a paramater takes an `fs::path` its self-documenting as taking a paramater which should be a valid path instead of a random string

[2020-06-16 13:10] ForeverRainbow commented on #916
Stuff like `directory_iterator` cannot be replicated obviously but stuff like extension checking I think should be a part of a path object (so actually maybe `fs::path` is a string with some utality functions attached)

[2020-06-16 13:16] txe commented on #916
Actually, I'd like to have a nice wrapper for paths because I always have a hard time to remember which function to call.

You want to repeat std::filesystem approach?

[2020-06-16 13:17] txe commented on #916
maybe @giuspen  has another opinion

[2020-06-16 13:20] ForeverRainbow commented on #916
I was thinking just implementing the bits we need, so `fs::exists`, `fs::path` with `extension()`, `string()`, and possibly the `/` operator although I know thats a bit contriversal :p, I could also move things like the mine type checking into `fs`.

[2020-06-16 13:25] ForeverRainbow commented on #916
of course we could always use something like [ghc::filesystem](https://github.com/gulrak/filesystem) but thats another dependency for something already done by glib :p

[2020-06-16 13:26] kencu commented on #916
Before you do too much, as I continue to learn about this, I came across this interesting bit of information this morning <https://libcxx.llvm.org/docs/UsingLibcxx.html#using-filesystem> about how a static implementation of std::filesystem can be used for supporting older systems.

The libc++ headers still mark the symbol availability as above, so I'm not presently sure how you get around that iss

[2020-06-16 13:31] ForeverRainbow commented on #916
@kencu I found that too, I do not think that will fix it as `std::filesystem::path` was marked unavailable by a preprocessor directive, so linking to a static lib won't help

[2020-06-16 13:33] txe commented on #916
`ghc::filesystem` looks solid, but uses wchar on windows, can be a minor issue.

@ForeverRainbow can we postpone this thing?  maybe we find a reason to use boost which comes with filesystem. then things again will have to be redone. For the time being, CtFileSystem already has some functions and can have more.

And @giuspen didn't say anything

[2020-06-16 13:37] txe commented on #868
@ForeverRainbow . I think this issue and an ability to show parsed markdown may have different approach to resolve them.  So you're talking about this issue or another one?

[2020-06-16 13:38] ForeverRainbow commented on #916
@txe Sure we can postpone it although I am more than happy to do this now even if its wasted effort later, but `wchar` is required for paths on windows by the standard so `std::filesystem` and `boost::filesystem` use it too

[2020-06-16 13:41] ForeverRainbow commented on #868
I am thinking that these are the same solution. Support multiple panes in cherrytree and then markdown can be rendered in one of them (just set the text buffer to read-only).

[2020-06-16 13:43] txe commented on #868
Well, I see them to be different, but ok. I need a bit time to write down what I think about it.

[2020-06-16 13:50] ForeverRainbow commented on #922
Thinking about it more, what if cherrytree could open arbitrary directories of files as a tree. Some things such as html could be recognised and file languages could be set based on extensions.

I think this would greatly improve the utility of cherrytree, especially since alternatives to things like cherrytree are usually a hierarchy of markdown files. It would likely be a lot of work though.

[2020-06-16 14:23] txe commented on #868
case 1 - two separate notes
case 2 - one note and one rendered note

**To separate nodes and buffers**
It's not OK. I see why you want it (about it later), but buffer can be get either from node properties or from text view properties. It's the same buffer. If we kind of `removing` buffer from node, a lot of code will have to be changed. And we still need a buffer to work with, so I just don't see

[2020-06-16 14:37] txe commented on #868
Ok, pane manager can be necessary to encapsulate the functional:
- keep track of pane layout. Because I though it would like pane 1 , pane 2. But it can be horizontal ,vertical, or something worse.
- set/get current pane
- maybe something else

[2020-06-16 14:43] txe commented on #868
if @giuspen  will agree with such approach,
I'd like to write code related to set/get current node/textview myself because it will interfere with a lot of code. It can be even done before adding actual second pane.

[2020-06-16 14:43] giuspen commented on #922
Cherrytree was born as a single file note taking, in fact also for the second database like storage I chose SQLite. I'm not excluding than in future we'll make an attempt to support a different storage, in particular to support concurrent edit which is more and more requested, but now is definitely not the time to do such huge change that would certainly bring instability while we want to prepare

[2020-06-16 14:53] ForeverRainbow commented on #922
Yeah I agree it would be a pretty massive change, just throwing ideas around

[2020-06-16 14:57] txe commented on #868
One more issue is with widgets because widgets attached to text view. To show widgets on different text view, they will have to be recreated.

[2020-06-16 15:08] ForeverRainbow commented on #868
I mean this doesn't have to be done soon, I think it will be pretty massive and definitely a stable version of the C++ should happen first but the reason I was thinking of separating the buffers and nodes is partly because of the widgets issue.

If nodes and text buffers are separate then widgets and text is rendered on demand (nodes store their widgets) the issue of keeping track of which textvie

[2020-06-16 15:23] ForeverRainbow commented on #828
@txe Is custom link action done? `CtConfig::weblinkCustomAct` doesnt seem to be used by anything, if its not done I'll have a go at implementing it now

[2020-06-16 17:55] giuspen commented on #916
I think if @ForeverRainbow wants to rework to the namespace fs being consistent with the namings of std:: filesystem (and boost:: filesystem where it was copied from) I'm ok with that as long as you unit test thoroughly all the methods. A future switch to std:: filesystem or boost:: filesystem would then become trivial

[2020-06-16 18:21] ForeverRainbow commented on #858
@DiagonalArg That would be one way of doing it I guess, but since cherrytree doesn't have any way of saying _thats a quote_ its ambiguous as to why there are these lines indented, better imho to just leave them as they are

[2020-06-16 18:39] giuspen commented on #868
@txe if you have in mind a rework that will allow the dual pane to be implemented more easily in future I'm happy that you have a go. I also think that the text buffer must be part of the node properties, please consult me before changing the node properties struct unless you just add info rather than removing it

[2020-06-16 18:47] ForeverRainbow opened #926 "Enable system tray docking on GNOME >= 3.26 doesn't work properly"
GNOME removed status icons in 3.26, which means that if you are running a version of GNOME >= 3.26 the "Enable system tray docking" option will cause cherrytree to effectively go zombie and "Start Minimized in the system tray" will visually do nothing, requiring the config file to be deleted before cherrytree will start properly.

Since enabling options which prevent you from opening the app is ge

[2020-06-16 18:58] giuspen commented on #926
This issue exists also with the current Pygtk2 version, not only with GNOME but other linux desktops, maybe there is a way to know that the system tray is not supported in the current desktop and grey out the checkbox in that case leaving appindicator as only option.

[2020-06-16 19:03] ForeverRainbow commented on #926
Looks like [gtk_status_icon_is_embedded](https://developer.gnome.org/gtk3/stable/GtkStatusIcon.html#gtk-status-icon-is-embedded) can be used to check for the existence of a system tray, the deprecated warning is just for using it for notifications I think

[2020-06-16 19:06] ForeverRainbow commented on #926
Also you can use extensions to bring back the gnome tray so completely disabling this might also not be the best but :woman_shrugging:

I am assuming there is no way to replicate the status icon functionality with `GNotification` (since it looks to be only dismiss-able notifications)

[2020-06-17 04:52] dreamer320 opened #927 "Collapse nodes on startup doesn't work if subnode selected"
Running 0.39.3 on Linux.
Have selected Tree 1 > Node status at startup > Collapse all nodes
If I exit the program with a top level node selected, on restart all nodes are collapsed (whether or not the selected node was expanded). The same top node is shown as selected.
However if a subnode is selected on exit, the same subnode (and its parent) are expanded on restart.
The Tree 2 > Expand Node at M

[2020-06-17 13:51] txe commented on #868
Right, I'll start it this week

[2020-06-17 13:53] giuspen commented on #868
Great!

[2020-06-17 19:06] #854 closed

[2020-06-17 19:08] txe commented on #854
Hi @DiagonalArg, I added an improvement which can help with your issue.
If you use code from github, you already can try it.

[2020-06-17 19:12] txe commented on #837
Closing this issue which was caused by `config.cfg` file. It was fixed by checking some conditions during reading the configure file.
About concurrent saving images, I added  PR #928

[2020-06-17 19:12] #837 closed

[2020-06-17 19:27] txe commented on #927
Hi,
For example, if `journal`|`2016` should be selected during startup, then, on my machine, I get the left picture. I think it's correct.
Are you saying that you got like on the right picture?

![screenshot](https://user-images.githubusercontent.com/177347/84940755-f5be1d80-b0e8-11ea-8d9f-783ca6b31508.png)

[2020-06-17 20:57] ForeverRainbow commented on #916
Sure, I will refractor `CtFileSystem` and add some methods to mimic the interface of the `filesystem` std specification. I will of course add unit tests but are they necessary for simple wrappers like `exists`?

Also I'm a woman :p

[2020-06-17 21:36] giuspen commented on #916
She, sorry :) No for very simple there's no need unless there is a chance it won't work in the same way on multiple platforms. If it is very quick to add a test on a file or directory of tests/data, that will give us full multi platform confidence. If you work on the paths please also replace the Glib:: ustring you find on your way used on the paths. Many thanks!

[2020-06-17 22:50] metal450 commented on #848
Just gave this a look.  There are some languages there now, but English is missing.  Screenshot: https://lnk2.tk/snaps/2020-06-17_15.50.03.png

[2020-06-17 22:52] metal450 opened #929 "C++ Windows: Toolbar Editor Button Icons"
Minor: Under Preferences->Toolbar, on Windows, the 3 buttons along the right of that dialog have broken icons (Add, Remove, Reset To Default)

[2020-06-17 22:55] metal450 opened #930 "C++ Windows Shows Double Slash"
Very minor graphical glitch: on Windows, the first slash in the path (shown in the titlebar) is doubled.

Screenshot: https://lnk2.tk/snaps/2020-06-17_15.54.33.png

[2020-06-17 22:58] metal450 opened #931 "C++ Paste Formatting Bugs"
Two issues when pasting formatted text:

* Sizes mostly work, but while text that's "moderately small" pastes as small, text that's "even smaller" pastes as normal again.
* Justification is lost (center or right)

Here's a screenshot to illustrate (see text small vs text tiny): https://lnk2.tk/snaps/2020-05-25_12.01.46.png

[2020-06-17 23:17] dreamer320 commented on #927
For your example I get the same left picture as you.
But if I have selected Collapse all Nodes on restart why is the "journal" node not collapsed?
This behaviour seems more consistent with the option "Restore Expanded/Collapsed Status".
However if "journal" is selected on exit (with the node expanded) , then that node will be collapsed on restart. So the collapsing only works if a top level node i

[2020-06-18 07:25] txe commented on #927
As you see, the last used node that was selected on the program exist is also selected on the program startup. We show the content of the selected node and we show the selected node on the node panel; not doing the latter would confuse user. In order to show the node, we have to expand its parents in spite of the option to collapse all nodes (actually, the all other nodes are collapsed).

The opti

[2020-06-18 07:25] #927 closed

[2020-06-18 10:35] txe commented on #889
I couldn't install 0.39.3 deb and its dependencies on LMDE 4 (), but cherrytree flatpak installed by Software Manager works just fine.

[2020-06-18 10:38] ForeverRainbow commented on #931
So is h1 pasting as h2? Or just h1 being small? I can't really tell from the picture but it looks like its pasting as h2

[2020-06-18 10:44] txe commented on #931
The issue with
[code]
is that it skips size less 8 and makes such text normal instead of small

[2020-06-18 11:18] #906 closed

[2020-06-18 13:16] #930 closed

[2020-06-18 13:18] txe commented on #930
The issues was that double backslashes didn't converted back to single backslashes.
After fixing, config.cfg withl old file paths will still show double backslashes, so users have to themselves to remove old paths one way or another.

[2020-06-18 13:45] ForeverRainbow commented on #444
Wondering whether I should move `CtFileSystem` into its own separate header as part of this refactor, it would make the seperation between utils cleaner but also its another header file

[2020-06-18 14:08] txe commented on #444
@giuspen , it's your call

[2020-06-18 14:10] ForeverRainbow commented on #931
@txe That seems a weird condition for making small text, wonder why > 7 was/is needed?

[2020-06-18 14:11] ForeverRainbow commented on #931
@txe That seems a weird condition for small text, why > 7 but < 11? Is that the cutoff for small text font-size?

[2020-06-18 14:13] txe commented on #931
I know it doesn't make sense :)

[2020-06-18 14:15] txe commented on #929
@giuspen , some icons from Gtk::Stock don't work on win, so I replaced them by ct_.svg. But there is no for file (Gtk::Stock::FILE).
Can you add svg for it?

[2020-06-18 14:20] #929 closed

[2020-06-18 14:21] txe commented on #931
@ForeverRainbow , are you going to fix it?

[2020-06-18 14:33] giuspen commented on #444
@ForeverRainbow I'm happy that you make a separate header and source file, please also move the unit tests (if existing, cannot remember) to another file named after filesystem

[2020-06-18 14:35] giuspen commented on #929
@txe certainly thanks!

[2020-06-18 14:36] giuspen commented on #848
thanks @metal450 I'll look at this when preparing upcoming 0.99.2

[2020-06-18 15:38] Skarfrael opened #935 "Could list characters be ...not characters?"
Hello all! One of my greatest torments in using this great application is the list characters. I mean the numbers for numbered lists and circles, squares etc. for unnumbered ones. I face 2 main problems.

The **first** is that they are set in the text as characters.

As @txe mentioned at another issue (that also frustrates me about lists), here:
"...for now bullets/numbers/todo lists is just text

[2020-06-18 16:40] ForeverRainbow commented on #931
@txe I am working on `CtFileSystem` rn

[2020-06-18 17:28] ForeverRainbow commented on #935
I was thinking of opening an issue about this actually. I did wonder why cherrytree uses unicode bullets for lists, it is actually a very easy way of doing it, but as you have highlighted there are some problems.

I was thinking maybe all lists (todo, bulleted, ordered, etc) could become widgets, not sure how viable that is @txe but if they could then indentation and changes would be much more con

[2020-06-18 18:17] #931 closed

[2020-06-18 18:21] txe commented on #931
Text size is also fixed

[2020-06-18 18:29] #804 closed

[2020-06-18 18:30] txe commented on #804
Wow, one weekend took a whole month.
About a resize grip, there is another issue about it, so closing this

[2020-06-18 18:56] txe commented on #935
Using widgets in such role maybe is not that good, they may look really unnatural to users, e.g. when selecting text with widgets. I looked through many gtk apps, and they all use widgets to show pictures or emeji. I'd like to know if there is a gtk editor with rich text support like in Word.

@Skarfrael, about your first issue, I'm pretty sure that text was rendered on some surface with Cairo lib

[2020-06-18 18:58] txe commented on #846
I suppose we still cannot reproduce this issue, so closing

[2020-06-18 19:04] metal450 commented on #846
Fair enough, I'll follow up if it happens again.

[2020-06-18 19:04] #846 closed

[2020-06-18 20:19] Thmyris opened #939 "[Feature Request] Add an option to disable ligatures"
This one is mainly about preference of looks and copy&paste convenience. When I copy some rich text from a CT node and paste it to somewhere else, in some cases the ligatures carry over. I then have to go ahead and manually fix characters that were combined into ligatures or changed to fancier versions. ~~(This is especially painful for copy&pasting bash code, but then again I shouldn't be using r

[2020-06-18 20:52] txe commented on #939
Well, I not sure that cherrytree is guilty in such behavior. There is no reason to change the text copied in clipboard, you can make sure by using any clipboard manager, e.g. CopyQ. I think the destination programs change the pasted text.

Can you give an example of text, and there I can copy/paste it to see the issue?

[2020-06-18 21:21] txe commented on #802
Closing this issue because it is not possible to be fixed for win/pygtk,
C++ 0.99 version can be downloaded from https://www.giuspen.com/cherrytree/#downl (see at the end of the block)

[2020-06-18 21:21] #802 closed

[2020-06-19 05:45] sceptre357 commented on #889
Debian and LMDE only need one have one dependency you have to manually install, its located here.
http://archive.ubuntu.com/ubuntu/pool/universe/p/pygtksourceview/python-gtksourceview2_2.10.1-3_amd64.deb

[2020-06-19 07:05] txe commented on #889
Ok, I can reproduce it.
The issue is caused by keyboard settings, to be exact, by XKB rules. When you press `Control` button, we get `Control` signal; when you release this `Control` button,  we get `ISO_Prev_Group` instead of `Control`. No surprise that the program works wrongly in such conditions. A lot of other programs suffer from this bug for more than 10 years.

FIY, you can see these rules

[2020-06-19 07:11] txe commented on #237
Hi @DiagonalArg, are saying that zoom doesn't work for you? It can be caused by keyboard settings, you can read #889 to know more.
Closing this issue because I believe there is no this bug anymore.

[2020-06-19 07:11] #237 closed

[2020-06-19 07:12] Thmyris commented on #939
A very simple example is this "=>". When I type it out in CT it molds together, but if you copy paste it here in the comment box it becomes "=>" again so not much of a problem here. The problem arises when you press 'space' after the mold occurs, it becomes a smaller 1-char-sized-arrow that if I copy/paste here looks like this: "⇒". Same thing happens with "->" which turns into "→", "*" turns into

[2020-06-19 07:13] txe commented on #147
Closing this because it was related to really old version and I believe it doesn't happen anymore

[2020-06-19 07:13] #147 closed

[2020-06-19 07:28] txe commented on #939
I'm sorry, I'm really confused by your comment. What does mold mean in this case? And

Here is on github's comment box or CT codebox?

There are some rules in CT which converts symbols into one symbol, it doesn't matter if you type those symbols or paste them.
If you don't want such behavior you either can untick the related options or change the node type from Rich Text to something else.

The on

[2020-06-19 07:30] giuspen commented on #939
@txe you are right such smart auto replacements should not happen in the code, only exception the plain text

[2020-06-19 07:33] giuspen commented on #889
@txe can we capture ISO_Prev_Group as well as valid Control release?

[2020-06-19 07:41] txe commented on #889
No, `ISO_Prev_Group` means to change keyboard layout and can be caused by any keyboard combinations (Capslock, Alt or Alt + Space, for example).

[2020-06-19 07:43] txe commented on #889
Funny that for some reason, flatpak version doesn't have this problem in Mint. Maybe it uses its own XKB rules there.

[2020-06-19 07:45] giuspen commented on #889
But we could capture ISO_Prev_Group just to exit the Control held down?

[2020-06-19 07:48] txe commented on #889
Well, we can do it, I don't think it can broke anything.

[2020-06-19 07:55] txe commented on #889
You do it? there's also `ISO_Next_Group`

[2020-06-19 07:58] giuspen commented on #889
I can do it but I'll need your help to test it unless you tell me your trick to reproduce

[2020-06-19 07:58] giuspen commented on #889
It would be easier if you can do it on both the pygtk2 and gtkmm3 version :)

[2020-06-19 07:59] txe commented on #889
OK, I'll do

[2020-06-19 08:00] giuspen commented on #889
Thanks!

[2020-06-19 08:01] giuspen commented on #889
I will release a new minor pygtk2 version as well soon since there are few bits and pieces accumulated

[2020-06-19 10:10] Thmyris commented on #939
I'm sorry I made this all confusing for you. I'm bad at explaining stuff. I'll start over and try to explain it better.

I'm only using rich text & plain text nodes. No code boxes, no Automatic Syntax Highlighting nodes are being used. I shouldn't have brought up code in the first place as this isn't about code. Basically I was asking for an option to disable ligatures completely. To stop the tran

[2020-06-19 11:09] ForeverRainbow commented on #939
@Thmyris Your use of "ligature" confused me :p, had to look it up.

So to be clear, you want to be able to transform auto-replaced characters back into the originals when copying text to the clipboard? There are a few issues with this I can think of

1. Currently auto-replaced text is simply replaced by a unicode character, so `=>` becomes a unicode arrow, `*` a unicode bullet, etc. The problem wi

[2020-06-19 11:41] txe commented on #939
@Thmyris , thanks , now I see your point.
When you uncheck "Enable Smart Quotes Auto Replacement", CT stop doing any fancy job with symbols. So, I am sure you can blame `Fira Code Retina` for it. (check README on https://github.com/tonsky/FiraCode). To turn of such behavior, you can try `Fira Mono`

[2020-06-19 12:36] Skarfrael commented on #935
Yeah, that's why I mentioned it is Markdown preview. The screenshot is from Joplin btw.

Sadly I don't have much relevant experience to make any proposals.

Thanks for looking into it anyway.

[2020-06-19 12:39] #889 closed

[2020-06-19 12:50] Skarfrael commented on #315
Is this really a bug or just a wrongfully implemented feature?

"Zooming in/out" doesn't actually work as the zoom functionality we are used to in browsers etc. It just increases and decreases font size. This is reflected in Preferences as well, and is reflected to the output of exporting the note to lets say a pdf. It must be the same functionality that takes places for the node-tree when hoverin

[2020-06-19 12:55] txe commented on #315
Well, I was sorting and labeling about ~300 issue on Feb 10, so maybe I was tired and missed the meaning of the issue.

[2020-06-19 13:01] Thmyris commented on #939
@txe You are right, switching to `Fira Mono` or other fonts fixed the problem. But only partially. Take a look:
![image](https://user-images.githubusercontent.com/14177706/85133658-04b0e700-b233-11ea-8d07-738fef6b3e8c.png)
Even though "Enable Smart Quotes Auto Replacement" is unchecked in the settings, CT still converts the characters into symbols if those characters are the first thing to be type

[2020-06-19 13:04] txe commented on #939
What CT version do you use?

[2020-06-19 13:04] Thmyris commented on #939
0.38.8

[2020-06-19 13:06] txe commented on #939
The last version is 0.39.3. Can you update your version? You can find more info on https://www.giuspen.com/cherrytree/#downl

[2020-06-19 13:17] Thmyris commented on #939
Can confirm the issue https://github.com/giuspen/cherrytree/issues/939#issuecomment-646623291 brings up does occur on 0.39.3

[2020-06-19 13:19] txe commented on #939
Thanks, I'll take a look

[2020-06-19 13:25] Thmyris commented on #939
@txe No don't bother, damn it, I forgot to disable the options about auto replacements after reinstalling. When you untick them https://github.com/giuspen/cherrytree/issues/939#issuecomment-646623291 is instantly fixed as well. Thank you so much for the help and sorry about causing all this fuss because of my own blunders. I'll close the issue as there is no issue left here.
Have a nice day everyo

[2020-06-19 13:25] #939 closed

[2020-06-19 13:26] txe commented on #939
Thanks! :)

[2020-06-19 13:43] Thmyris commented on #870
There's an option in Preferences -> Rich Text -> "Expand CodeBoxes Automatically." Would this remedy your problem for the time being?

[2020-06-19 14:23] Thmyris commented on #579
Any ideas on how this could be implemented? Personally, I don't like the approach taken for exporting to PDF's as it ignores the tree's hierarchical structure and prints every node one under the other with no distinction between nodes and subnodes.

I try to take all my notes in CT, and was bummed out to find out that printing them in PDF form would not be practical for studying. Because every nod

[2020-06-19 20:34] giuspen commented on #929
@txe just pushed

[2020-06-20 00:44] sceptre357 commented on #889
I could fixed it by changing options as you suggested however it still scrolls while it changes the font size making it pretty difficult to see the size you want to select.

[2020-06-20 07:21] Anon-Exploiter commented on #898
Thanks, wasted too much time configuring pip for python2 and installing pyenchant on 20.04 just to get the following while installation.

![image](https://user-images.githubusercontent.com/18597330/85195988-7e5ada80-b2f0-11ea-8212-82ebcf2b43fc.png)

[2020-06-20 09:36] txe commented on #889
I'll take a look

[2020-06-20 11:41] ForeverRainbow commented on #579
@Thmyris I am not really sure how the heirarchy can be maintained when exporting to pdf since it doesnt have a concept of a heirachy, just "flat" pages as it were. You can select the "Node names as headers" and "Each node on seperate page" options to improve the seperation and get a feeling of "ownership" of subnodes as it were.

Also @quesada I am not sure what this is actually asking for, is it

[2020-06-20 12:01] Thmyris commented on #579
@ForeverRainbow Yep. I think it could've maybe had different colored and different sized titles for each node. Maybe as you go down the subnodes, the colors would change according to their node cherry color and the title font would become smaller and smaller.

I believe @quesada means exporting an entire cherrytree document to markdown just like how most other export functions work.

[2020-06-20 12:39] ForeverRainbow opened #942 "[Feature Request]: Keep links when exporting to pdf"
Hi.
Currently exporting to pdf will result in links being lost, both internal (i.e to other nodes -> exported pages) and external (e.g to a website).

It would be really useful if links could be exported, since especially when navigating lots of notes, not having my "more info here" links work is quite a big issue. I can always just read these notes in cherrytree of course but its very helpful to

[2020-06-20 12:41] ForeverRainbow commented on #942
Just to say as well, `Pandoc` does support pdf conversion so that might be an option just for external links, however if internal links are to be kept as well I think something more complex is needed

[2020-06-20 12:49] giuspen commented on #942
I was hoping that with Gtk3 or at least Gtk4 the pdf would support links... This feature is quite high in the number of requests so definitely a valid feature to investigate, thanks!

[2020-06-20 13:08] txe commented on #942
Cairo supports links
https://www.cairographics.org/manual/cairo-Tags-and-Links.html
https://gitlab.freedesktop.org/cairo/cairo/-/issues/357

[2020-06-20 13:10] ForeverRainbow commented on #828
@txe Do you have already a way in mind for checking corruption of the SQLite database? Because afaik all that is needed is `PRAGMA quick_check` call

Also the backup method for SQLite databases just copies the file as far as I can see, which is potentially problematic and can cause corruption if, for example, the database file is copied without its journal, or a database transaction hasnt been ful

[2020-06-20 13:54] txe commented on #828
@ForeverRainbow, the idea about checking is to prevent users to work with a broken db (also, they get frustrated to no be able to save changes), PRAGMA quick_check is sufficient.

About sqlite journal:
- According to docs, the rollback journal is usually created when a transaction is first started and is usually deleted when a transaction commits or rolls back
- we don't use explicit transaction c

[2020-06-20 13:56] ForeverRainbow commented on #942
@txe So it would require a Cario dependency? Or does cherrytree already use Cario? Looking at the code for `CtExport2Pdf` it looks like it just translates to pango and then mysteriously a pdf appears (I am guess gtk can create pdfs but cannot find any documentation on it)

[2020-06-20 14:04] txe commented on #942
Agree, this stuff is confusing. Both are already used. Cairo is low-level render. Pango is high-level render and uses Cairo.
https://en.wikipedia.org/wiki/Pango

Things are go on in
`CtPrint::_on_begin_print_text`   - to calculate text/images/other positions (layout)
`CtPrint::_on_draw_page_tex`t - is actual drawing

[2020-06-20 14:09] ForeverRainbow commented on #828
A recovery journal is created if SQLite crashes, or losses access to the database or whatever, during a transaction. An implicit transaction is created for commits if a "manual" use is not used, I _think_ this is also the case for queries but not 100% on that one.

This means that if cherrytree crashes during save, or is force closed during a save (e.g it goes unresponsive), a recovery journal wil

[2020-06-20 14:11] ForeverRainbow commented on #828
@txe Shall I just add a method which checks that `PRAGMA quick_check` doesn't return results then (and triggers appropriate warnings to the user ofc)?

[2020-06-20 14:16] txe commented on #828
Sure, good place is in CtStorageSqlite::_open_db

[2020-06-20 14:21] txe commented on #828
Backup are still fine. They are created before saving data but after opening connection. Either sqlite fixes journal during opening file or we check that the file is corrupted and stop process, so backup will never happen.

[2020-06-20 14:25] ForeverRainbow commented on #828
@txe Not sure it should be in every call to open the database? The probability that it is corrupt is quite low and I am guessing that it causes some overhead (which increases with database size). Your call but maybe just check before heavy operations (like saving) or every N operations?

[2020-06-20 14:32] txe commented on #828
Ok, then call it not in _open, but
- void CtStorageSqlite::test_connection()
- void CtStorageSqlite::import_nodes(const fs::path& path)
- bool CtStorageSqlite::populate_treestore(const fs::path& file_path, Glib::ustring& error)
- bool CtStorageSqlite::save_treestore(const fs::path& file_path, const CtStorageSyncPending& syncPending, Glib::ustring& error)

without checking how much. In theory it wi

[2020-06-20 14:37] txe commented on #828
I'm wrong,  CtStorageSqlite::save_treestore doesn't need check

[2020-06-20 18:06] #7 closed

[2020-06-20 18:11] txe commented on #640
Resolved by #944

[2020-06-20 18:11] #640 closed

[2020-06-20 18:12] txe commented on #27
Closing, cannot get the issue description from the given link

[2020-06-20 18:12] #27 closed

[2020-06-20 18:17] txe commented on #137
`C:\windows\system32\cmd.exe / k cd d:\TestFolder` doesn't work because `cd` needs an `/D` to changing a driver (d: in this case)
Running code from cherrytree is possible by executing codeboxes.

[2020-06-20 18:17] #137 closed

[2020-06-20 18:38] txe commented on #591
Closing, couldn't reproduce on C++ version; looking through code did not show any issue with creating links with different text selections

[2020-06-20 18:38] #591 closed

[2020-06-20 18:50] txe commented on #20
Closing, the issue is too old

[2020-06-20 18:50] #20 closed

[2020-06-20 18:52] txe commented on #14
I'd love to see why it's so slow, but forum is gone... Closing

[2020-06-20 18:52] #14 closed

[2020-06-20 20:07] #28 closed

[2020-06-20 20:10] txe commented on #26
Closing, too old

[2020-06-20 20:10] #26 closed

[2020-06-20 20:12] txe commented on #31
Closing, too old

[2020-06-20 20:12] #31 closed

[2020-06-20 20:17] txe commented on #38
Closing, the lang file was added

[2020-06-20 20:17] #38 closed

[2020-06-20 20:19] txe commented on #44
Closing, was done

[2020-06-20 20:19] #44 closed

[2020-06-20 20:21] txe commented on #55
Closing as duplicate

[2020-06-20 20:21] #55 closed

[2020-06-20 20:31] txe commented on #82
Closing, there is no such issue on Gtk3 version

[2020-06-20 20:31] #82 closed

[2020-06-21 08:29] txe commented on #444
@giuspen
It looks like calling `Glib::locale_from_utf8` used in writing in sqlite causes issues on win32 machine when text has non-latin symbols. It works ok on linux because locale is usually utf8 too. Another strange thing is that during reading from sqlite there is no conversion. I think we should keep utf8 in db and remove `Glib::locale_from_utf8`?

[2020-06-21 09:21] giuspen commented on #444
Hi @txe absolutely, there is a test.ctb document I initially used to test read/write of Cyrillic characters, the best thing would be to write some unit tests using those (that was my plan but I'm really struggling ☹️) so that we can be sure it is working on multiple platforms and not having it stop working in future pull requests since absolutely critical. I was planning to use your interface for

[2020-06-21 09:28] giuspen commented on #444
Maybe I will postpone the 0.99.2 release until we have that test harness in place while I'll try this evening to issue a new minor Pygtk2 as for plans.

[2020-06-21 10:00] txe commented on #444
@giuspen , I've fixed bug in html export on win32 I mentioned yesterday
@ForeverRainbow , btw, html export looks really nice now, thanks!

[2020-06-21 10:03] giuspen commented on #444
@txe would you issue 0.99.2 or wait for my test harness?

[2020-06-21 10:09] txe commented on #444
I clicked here and there, tested paths and nodes with Cyrillic symbols on win32. I think it gets better than 0.991 in terms of encoding

[2020-06-21 10:10] giuspen commented on #444
Fair enough, I'll try and release both then as soon as get some time

[2020-06-21 10:23] ForeverRainbow commented on #444
On a possibly unrelated note, I was thinking about the documentation of the code in C++ cherrytree, or rather the lack of it.

Personally, as someone still not completely familiar with the code base, and who can't remember the details of functions I write after a few months, it would be really great if there was some kind of "documentation standard" or advice to document new functions and possibly

[2020-06-21 10:33] giuspen commented on #444
@ForeverRainbow so far @txe has been able to do multiple big reworks also because we've not started with all the documentation.
I'm not sure the reworks are done yet, writing all the doxygen overhead is more for a more mature code base... What do you think @txe?
I would go with a more generic document separated from the code where there are notes about the coding standards and the main classes.
BT

[2020-06-21 11:14] txe commented on #444
Well, having the documentation seems to good, but I don't think it's practical or necessary.
- It's a lot of effort: you have to think what to write to be descriptive (and you don't want just to repeat function name) even for one line documentation per function/class. It looks simple, but can be tiring. You will have to update docs otherwise it will lose its use.
- it reduces density of code, inst

[2020-06-21 11:21] txe commented on #444
@giuspen , I don't use curly braces for single statements simply because it add lines, as a result less code on the screen.
I really need to get 4k monitor :)

[2020-06-21 11:33] giuspen commented on #444
@txe  it does indeed add one line at the bottom but it is safer, if you look at the code based on the indentation, you may miss two lines both equally indented after an if without a proper curly bracket and the second will be executed by mistake always. Anyway I'm good for you to use what you prefer, you are very attentive, I will just ask contributors to use the curly braces 😉

[2020-06-21 15:05] mahdi1234 commented on #922
I second this as really neat idea for future (especially for pictures) the thing is I'm using nextcloud (and syncthing in the past) and with some rather large notebooks it always transferred some 40+MB on every file save to all my 4 clients (file had like 11MB + 3 x backup) ... I exported images to have them separate and went to 1 backup since nextcloud has history anyway and now I'm on 2MB with m

[2020-06-21 15:29] giuspen commented on #444
0.99.2 is out packaged for Windows and Ubuntu 20.04, look at https://www.giuspen.com/cherrytree/#downl and scroll down

[2020-06-21 15:42] ForeverRainbow commented on #444
Thats fair enough @txe, thanks for giving such a detailed response. doxygen comments can get very annoying when used on _everything_ I agree but in the longer (and sometimes shorter) term, surely it is better to document what the intended behavior of something is when its fresh in your mind instead of having to reread it later?

A lot of methods actually already have comments above them, they just

[2020-06-21 16:15] txe commented on #444
@ForeverRainbow , can you give, for example, class/file from the project which can benefit from doxygen? (excluding CtMainWin because it's a monster)

[2020-06-21 16:25] ForeverRainbow commented on #444
`CtFileSystem`/`fs` could benifit for example, some comments to explain that it does not follow the standard, especially that `string()` cannot be relied on to return platform-native paths. Some functions also are not obviouse at first glance, for instance `prepare_export_folder` - it prepares an export folder but for what? Why does it return a `path` and not `void`? Or `external_filepath_open` wh

[2020-06-21 16:32] ForeverRainbow commented on #444
Another example is `CtProcess`, which in hindsight I really should have documented better. Without looking at the nitty gritty of `run()` and understanding how `g_subprocess_new` works, you wouldn't neccarsarily realise that argments _have_ to be seperate (i.e `--to x` must be added as `--to` then `x` and not `--to x` at once). Also without the documentation on `CtProcessError` you wouldn't know t

[2020-06-21 18:06] txe commented on #444
Ok, as I see, `fs::path` is just a wrapper over `std::string` for static type convenience and making a difference between `std::string` and paths. So `fs::path::string` just returns the "given" std::string. Paths itself are complicate aria, so if `fs::path` started doing some magic with paths, and it wasn't asked to do it, it'd be a nightmare.

`prepare_export_folder` is in wrong place, should be

[2020-06-21 18:15] ForeverRainbow commented on #922
@mahdi1234 Yeah images can get pretty massive, saving space both in the database/xml file but also just in general would be an advantage of this, because cherrytree b64 encodes images to store them with encoded text and bytes -> base64 is ~30% larger. Which can be a pretty massive difference when dealing with images and multiple backups

[2020-06-21 18:47] ForeverRainbow commented on #444
mmm, separate documents would be hell to maintain and don't really help since you have to pull up something external to find the relevant part of the code (although for the use case of doxygen they would work I guess).

Also I agree with the linked post when it comes to libraries which only provide doxygen or similar rather than complete documentation. But this is different, the people who would u

[2020-06-21 18:52] metal450 opened #948 "C++ Bug: Adding Toolbar Separator"
In the C++ version on Windows, if you use Preferences->Toolbar to add a new separator, it appears to work  - but then when you quit & restart CherryTree, it has disappeared.  i.e. the change is reflected in the editor UI, but never on the application's main UI (even after quit & restart).

[2020-06-21 18:54] ForeverRainbow commented on #942
@txe It looks like the "pipeline" for pdf creation goes something like: `text buffer -> pango -> adjust output positions -> output pango using cairo`. Which means that after the text buffer stage anything not supported in pango markup (i.e links) is lost (with the exception of widgets).

I am not sure how to get around this without redesigning the pipeline for pdf exporting which would be pretty m

[2020-06-21 18:57] metal450 opened #949 "C++: Text vertical alignment of node names"
Minor graphical bug to report with the latest C++ alpha on Windows: the vertical alignment of the text showing node names is inconsistent in the node list.  Here's a screenshot: https://lnk2.tk/snaps/2020-06-21_11.55.38.png

i.e. relative to the cherry icon, some of the names are center-aligned (as expected), and others seem to be top-aligned.

[2020-06-21 19:00] txe commented on #949
Did you try it on 0.99.2?

[2020-06-21 19:03] metal450 opened #950 "Feature Request: Find Recently Modified"
Apologies if this already exists somewhere, but if so I wasn't able to find it:

Is there some way to find "recently modified nodes?"  I use this often in OneNote to i.e. see a "log" of what I've been working on, when using it as an issue tracker for personal software projects, etc.

Here's a screenshot of how it looks in OneNote: https://lnk2.tk/snaps/2020-06-21_12.00.08.png

If not, then please

[2020-06-21 19:05] metal450 commented on #949
Yup, that's the version I'm currently testing

[2020-06-21 19:07] txe commented on #444
Right, actually, it can be done now, I need only to figure out the structure of the document

[2020-06-21 19:07] metal450 commented on #719
Agreed. I'm a new user just getting my first data entered, & was going to report precisely this - it's a bit time-consuming entering code as each box has to be manually tweaked.  Would be awesome if it just set its height to fit its content :)

[2020-06-21 19:13] giuspen commented on #950
No, you can currently only do a research filtering for modification time

[2020-06-21 19:15] metal450 commented on #950
Feature request, then :)

[2020-06-21 19:25] txe commented on #942
Yeah, it doesn't look simple.
But if I were you, I firstly tried to draw any random link in some place. Aftre that it would be easier to figure out how to pass necessary data.

[2020-06-21 19:30] ForeverRainbow commented on #942
I got test links working with `cairo_open_tag` and all that in `_on_draw_page_text`, the problem is keeping the information that x is a link, which doesn't seem to be possible currently as pango has no `link` tag or similar (and I don't think its a good idea to try and preprocess the pango text)

[2020-06-21 19:32] txe commented on #942
it is about putting a fake tag `<link>` into pango text and then cutting it out in `_on_begin_print_text`?

[2020-06-21 19:42] metal450 commented on #935
I agree wholeheartedly with both of these issues, though in my case the 1st is much more impactful (as copying & pasting to/from lists is a more frequent activity than altering their indentation levels).

In #849, it was proposed that the issue of paragraph indentation might be solved by Scintilla.  I wonder if this might somehow apply to the 1st issue as well - such that lists could be handled as

[2020-06-21 19:44] ForeverRainbow commented on #942
Thats what I was considering but there is quick a large margin for error with that (what if the text is processed before reaching the check stage), if its the only way without redesigning the exporter though I guess its acceptable

[2020-06-21 20:02] txe commented on #942
CtPango is used only to prepare data for pdf and changing it is not a big deal. But it a lot of work to get link from text and then some complicated data structure in pass it and then to change a lot of code to process it.

I thinks simpler is better. I would put a link between `<link>` tags in pango serializer, then in `CtPrint::print_text` cut it out (any xml reader) and put link in CtPrintLinkP

[2020-06-21 20:20] txe commented on #942
Or pango data can be redesigned. instead of having list of pango text and list of widgets, it can be one list of `CtPangoElement` which can be either text or widget or link.
If you want to do this way, I suggest to PR to introduce this redesign, and only then to start on adding a link element.

[2020-06-21 20:23] ForeverRainbow commented on #942
The redesign would be a cleaner way I think

[2020-06-21 20:24] txe commented on #942
OK

[2020-06-22 01:26] malventano commented on #220
It may be useful to first just support native resolution text on high DPI displays, as text on high DPI displays renders blurry and can be straining on the eyes.

[2020-06-22 01:33] chppppp opened #951 "CRITICAL: I cant buy you a coffee"
Hi @giuspen!! I just got an email on an issue I am tracking on your project and saw you have 378 open issues!!! Holy guacamole!

Your editor is wildly popular with OSCP students and more. I personally dont want to dive into the mountain of posted issues here (whether they are all legit or not is another issue ;D) but I would love to be able to support your project other than the bitcoin donate lin

[2020-06-22 02:52] DiagonalArg opened #952 "sql backend - 10MB attachment size limitation"
Is there a fundamental reason for attachments to be limited to 10MB using the sql backend?  Is using XML a work-around?

If there is no fundamental reason, can it be changed?

[2020-06-22 03:29] javadevelopment4 commented on #272
is porting has been done with the latest version?

[2020-06-22 03:30] javadevelopment4 commented on #444
Can i checkout the latest version ? Is the migration has been completed?

[2020-06-22 10:08] txe commented on #952
Looks like a work-around. Instead of forbidding, we can give a warning of exceeding the limit and ask if they want to continue. So users still control the db size in case if it's important.

[2020-06-22 11:55] giuspen commented on #952
It was meant to limit the size of the embedded files especially for the XML but @txe is right, we should change to a warning message instead and theoretically the warning could have different thresholds according to XML or SQLite where larger files are better handled.

[2020-06-22 12:00] giuspen commented on #444
@javadevelopment4 the migration is not complete but the Gtkmm3 version is solid, I'm using it daily without issues, you can use it as well being extra careful to backup your data and reporting issues if you find any. Still missing are mainly some imports from other note taking apps.

[2020-06-22 15:06] kettenfett commented on #444
Is Markdown supposed to work with 0.99? Couldn't get it to work with `cherrytree_0.99.2_win64_portable.7z` after activating it in preferences and restarting.

[2020-06-22 18:11] txe commented on #949
It's really odd. There was a bug that 'Tree Nodes Names Wrapping Width' caused such issue (in Gtk3 wrapping in TreePanel doesn't work), so I had to turn off this option. Given that,  it cannot be your case.

I tried to create the same nodes and they looked normal. So I'm out of ideas. Can you give your config.cfg (you can remove any sensitive data from it) ?

[2020-06-22 18:38] metal450 commented on #949
Attached.

[config.zip](https://github.com/giuspen/cherrytree/files/4815011/config.zip)

[2020-06-22 18:52] ForeverRainbow commented on #444
@kettenfett Yes it is supposed to work but I haven't really tested it since #917 although I think it was working then. If you could open an issue for it that would be great, I'll have a look at it.

[2020-06-22 18:58] #948 closed

[2020-06-22 18:59] txe commented on #948
Thanks for the issue, fixed.
Also, toolbar changes will be shown in real time without the app restart.

[2020-06-22 19:19] txe commented on #949
No, it didn't help.
Can you set `Tree Nodes Names Wrapping Width` to 500 and restart the app?

[2020-06-22 19:23] metal450 commented on #949
Same appearance (I had it set to 200 before, but 500 looks identical)

[2020-06-22 19:24] txe commented on #949
@guispen, when you have spare time, can you try to reproduce the issue?

[2020-06-22 21:06] giuspen commented on #949
Sure @txe I'll also try and reproduce in the next days, it's really odd, I have not seen it so far running in msys2 I would have noticed straight away.
Actually it looks like there is a newline at the end of the node name for some nodes, @metal450 have you entered the nodes names manually or pasted from somewhere? If you try and remove the trailing part of the node name what happens?

[2020-06-22 21:12] giuspen commented on #951
hi @chppppp thanks for your colored feedback ;)

[2020-06-22 21:12] #951 closed

[2020-06-22 21:13] metal450 commented on #949
You got it!! No idea how you noticed that - yes, they were pasted from OneNote, and yes, it looks like there's an "invisible" newline character.  If I edit each name & press backspace once, nothing appears to have changed in the Edit Node dialog, but once I click OK, it fixes the alignment.

So perhaps the general fix would be to just do a "trim whitespace" on the node name after editing node prop

[2020-06-22 21:20] txe commented on #949
good catch, @giuspen !

[2020-06-22 21:21] giuspen commented on #949
great! :)

[2020-06-23 08:59] kettenfett commented on #444
I see you already wrote a fix. I can't check up on it unfortunately, because I don't have the setup to compile for windows. I'm dependent on giuspens binaries.

[2020-06-23 10:10] #923 closed

[2020-06-23 10:11] txe commented on #926
Was resolved by #941

[2020-06-23 10:11] #926 closed

[2020-06-23 10:31] gitbrake opened #955 "CherryTree stopped saving."
So after restarting CherryTree for the first time in a few days, I've just found that it had not actually saved a thing for 4 days despite manual and auto saves, and the presence of files with dates indicating saves just before restarting CherryTree.

This is on Windows 10 x64, CherryTree 0.39.3. I'm assuming I've just lost a good 24 hours worth of work - but if there's some log or some way I can

[2020-06-23 11:33] giuspen commented on #955
Hi @gitbrake I'm sorry to hear that, if you write anything to a node, Ctrl+S, close cherrytree, reopen cherrytree can you see the saved data at all or you keep seeing the original data before the last edit?

[2020-06-23 12:31] SadE54 commented on #858
Is is working in 0.99.2 ? I just tried to create a rich node and write markdown tags, nothing is rendered :-/

[2020-06-23 13:01] gitbrake commented on #955
Unfortunately not. Looking back through the backups (and cloud backups) indicates the file size (along with the ~, ~~, and ~~~ backups) also hadn’t changed in days.

Looks like for whatever reason the SQLite database was not syncing. :(

[2020-06-23 13:07] ForeverRainbow commented on #955
@gitbrake Yes I think this is a known issue with the python version. The database is not checked for corruption before saving or backing up and commit errors are silently ignore (afaik, I haven't really worked with the python version). The C++ version has fixed this in #943 but it is still being tested so if you want to use that version make manual backups of your data and save regularly

[2020-06-23 13:12] ForeverRainbow commented on #858
@SadE54 Apologizes but the markdown formatting is broken in that version, it was fixed in #954 and I am currently improving its design (see comments by @txe there). Markdown importing does work however

[2020-06-23 15:58] ForeverRainbow commented on #858
@txe To continue our conversation from #954, I actaully realised its very easy - just calcuate the size of the tags and change the text between them. Questioning whether I should have it so that the tags are left and just the text in between them changes (like a preview on ms teams, discord, etc) or remove the tags as soon as formatting is applied (so what we have right now except format on valid

[2020-06-23 16:02] txe commented on #858
If applying instantly looks natural, then it can be done

[2020-06-23 16:06] ForeverRainbow commented on #858
I am going to mess around with it a bit and see, I have it just replacing the text between right now and it does cause quite a bit of "noise" in the text.

[2020-06-23 18:37] #949 closed

[2020-06-23 18:38] txe commented on #949
Fixed, thanks for the issue!

[2020-06-23 18:45] txe commented on #140
There is 'Save and Vacuum' in the menu.

[2020-06-23 18:45] #140 closed

[2020-06-23 18:55] txe commented on #955
@gitbrake, you need to check if the file is corrupted or not.

The file itself is an sqlite database. You can open it by [sqlitebrowser](https://sqlitebrowser.org/).
After opening the file, execute a command there:
[code]
If it doesn't return "OK", then the file is broken and should be recovered. You can read more about recovery in [this article](https://techblog.dorogin.com/sqliteexception-databa

[2020-06-23 19:24] ForeverRainbow commented on #955
@txe The file is encrypted though, it uses 7z right? So they should be able to extract it with the 7z application?

[2020-06-23 19:27] txe commented on #955
Ah, didn't notice.
But you're right, the file can extracted by 7z.

[2020-06-23 21:27] gitbrake commented on #955
Yeah correct, you can just extract with 7z/open with sqlite3. I'd opened the file prior to this post to do this, but hadn't checked the integrity.

The main .ctx file and the backups and all returned OK.

For the sake of the experiment, I dumped all INSERTs to disk and reimported as per the linked article from @txe, but none of the newer content was there.

Really seems that it just wasn't committ

[2020-06-23 21:31] gitbrake commented on #955
Interestingly, I can't save my current file as an xml file.

I receive a <file location> write failed - tree to xml.

[2020-06-23 21:39] txe commented on #955
Can you try to open and resave by C++ version (0.99.2)? You can find it on https://www.giuspen.com/cherrytree/#downl

[2020-06-23 22:39] ForeverRainbow commented on #926
@txe This wasn't resolved in the python version though, #941 only patches the C++ version

[2020-06-24 00:43] DiagonalArg commented on #952
So my related question then is, the more I use CT, the more I realize that much of the time I really don't want a filesystem.  What I want is a database of notes that operate as glue and throughout which my files are embedded.  The filesize impediment was one problem I have come up against, but if that restriction is loosened, do you see others?

[2020-06-24 01:26] steveno commented on #951
@giuspen On a serious note, have you considered signing up for GitHub sponsors?

https://help.github.com/en/github/supporting-the-open-source-community-with-github-sponsors/about-github-sponsors

[2020-06-24 08:20] gitbrake commented on #955
Yep - it saves as XML from 0.99.2.

Testing the re-saved XML file in 0.39.4 and it opened, but then ran into the same problem with saving.

[2020-06-24 09:17] txe commented on #955
Well, maybe it throw some exceptions during saving.
if you start CT from cmd, then it will output the exception and callstack.

[2020-06-24 09:22] gitbrake commented on #955
I opened up the original sqlite file in 0.99.2 and it crashes too.

[2020-06-24 19:11:36.362] [GTK Logger] [info]
unhandled exception (type std::exception) in signal handler:
what: Document not well-formed.
Line 1709, column 22 (fatal):
PCDATA invalid Char value 1

Looks like it was where I had pasted some output from Immunity Debugger. This doesn't seem to be an issue in the 0.39.4 branch (the fi

[2020-06-24 09:22] txe commented on #926
it's OK. I think the C++ ver. is more or less ready to be a replacement for pygtk.

[2020-06-24 09:30] txe commented on #955
Can you upload that output from Immunity Debugger, so I can try it on my machine?

[2020-06-24 09:30] gitbrake commented on #955
And in response to your question around exceptions during saving.

Traceback (most recent call last):
  File "core.pyc", line 1606, in file_save
  File "core.pyc", line 1729, in file_write
  File "machines.pyc", line 325, in treestore_to_dom
  File "xml\dom\minidom.pyc", line 61, in toprettyxml
  File "StringIO.pyc", line 271, in getvalue
MemoryError
Traceback (most recent call last):
  File "core

[2020-06-24 09:37] txe commented on #952
I honestly don't know, but maybe I'm used to

[2020-06-24 09:41] gitbrake commented on #955
[node.txt](https://github.com/giuspen/cherrytree/files/4824464/node.txt)

This is the Immunity Debugger output. The errant character is on Line 6. (assuming this is 0x01 from the exception above).

[2020-06-24 09:54] txe commented on #955
No, it works ok. Did you copy/paste it from the console output? Can you copy from the node instead? Or even open the xml file in an editor and copy the node from there.

[2020-06-24 10:10] gitbrake commented on #955
See attached. test.ctb was created in 0.39.4, while test2.ctb was created in 0.99.2 (by copy/pasting the text from node.txt from Notepad++).

[Character Test CTBs.zip](https://github.com/giuspen/cherrytree/files/4824643/Character.Test.CTBs.zip)

Both open fine in 0.39.4, but both crash 0.99.2 when you click on the 'Test' node.

[2020-06-24 10:50] txe commented on #955
Thanks, the given files show the issue, I'll fix it

[2020-06-24 11:49] kettenfett opened #957 "[0.99.2,win64] Markdown not working"
Markdown is not working with 0.99.
Couldn't get it to work with `cherrytree_0.99.2_win64_portable.7z` after activating it in preferences as per #871 and restarting.

[2020-06-24 12:15] ForeverRainbow commented on #957
#954 Does fix these issues but I am currently improving it more (see comments there and here: #858). There definetly needs to be some documentation on what markdown cherrytree actually supports, I was holding off writing it because this wasnt yet complete but will be doing it soon (note that `#h1` is not supported, you will need `# h1`)

[2020-06-24 12:25] gahisee opened #958 "copy/paste of web page content can crash cherrytree"
from time to time, i copy some portion of web pages and paste into cherrytree.
if the content is all text, it seems to succeed.
however if it contains images, paste will likely crash cherrytree.  it simply closes.

i am currently enjoying v0.99.1.
please let me know if i need to gather more data but this should be readily reproducible.

[2020-06-24 14:27] datavectors opened #959 "[Feature request] Recent Documents list to be global and updated"
I have a large number of CherryTree documents scattered far and wide through my Ubuntu file system. i have a long standing action to try to create some order out of chaos.  I have started by using ripgrep to find all files with CT extensions and I can dump a list of CT documents.

However there is one problem I have. When I switch to another CT document  the Recent Documents list refers to the doc

[2020-06-24 15:04] ForeverRainbow commented on #958
@txe I noticed an error message when the link for an image couldn't be found/decoded recently. Possibly 0.99.1 is missing a catch which was added later? (Or this could be completely unrelated ofc)

[2020-06-24 17:08] mahdi1234 opened #960 "C++ double click doesn't work for adding new tag to node properties"
Latest code on Gentoo

- create new node or edit (F2) existing node
- click "Search" button for Tags
- double-click some tag

Tag is not added and one has to click "OK"

With 0.39 it works double-click to add the tag and close dialog at once.

[2020-06-24 19:33] mahdi1234 commented on #958
If it helps I'm able to repro with https://joinmobilizon.org/en/faq/ and this text (copy from webpage so it's rich)

[2020-06-24 19:41] mahdi1234 opened #961 "C++ CTRL+Z after paste jumps to strange positions"
Latest build on gentoo

- have some node with text over multiple screens and scroll somewhere down/bottom
- paste any text
- CTRL+Z

it does some strange refresh of whole screen

- click somewhere else
- past same or other text
- CTRL+Z

now pointer moves to the place where original text was placed

- repeat pasting at random locations and then undo with CTRL+Z

it sometimes jumps back to the orig

[2020-06-24 20:28] giuspen commented on #951
I'll have a look thanks @steveno

[2020-06-24 20:33] giuspen commented on #952
These embedded files are not edited in place, when you open them you are actually copying to a temporary location from the dB to the filesystem, opening with the external application, editing and then copying the modified version from the filesystem temporary location back to the database. This obviously is not as efficient as just having a file on the filesystem.

[2020-06-25 09:29] datavectors commented on #959
I can see now that this is a general problem across applications where multiple sessions might be open each referring to different "recent documents lists". For this reason I am closing this request.

One effective solution i have developed is to use an external script (python subprocess using ripgrep) to scan the file system to index various file types (including *.ctb and *.ctd) and sort them by

[2020-06-25 09:29] #959 closed

[2020-06-25 11:35] ForeverRainbow commented on #958
If you can reproduce this can you run cherrytree from the commandline and post the output?

Also @txe maybe now is the time to add a log file(s)?

[2020-06-25 11:42] txe commented on #958
@gahisee I'll take care of it, thanks
@mahdi1234 , thanks for the example, it'll be useful
@ForeverRainbow , right

[2020-06-25 12:59] ForeverRainbow commented on #952
@giuspen maybe images could be cached then? So store the image path (or the path for it to go to) and then do a check when viewing images whether the image already exists in that path, if it does open it, if not copy to it and then open it. In fact it doesnt even need to be stored with the image, could just be a predefined path with the of the image appended or something

[2020-06-25 13:20] #955 closed

[2020-06-25 13:22] txe commented on #955
Fixed, thanks for the issue!

[2020-06-25 13:30] giuspen commented on #952
@ForeverRainbow what you are proposing is a new separate mode or an improvement of the current implementation? Remember that the document could be encrypted and especially in that case we are not meant to leave stuff in clear out on the filesystem

[2020-06-25 15:54] ForeverRainbow commented on #952
@giuspen Improvement, so that the file doesnt have to be decoded and reencoded each time. Also if its encrypted then it can be bundled as part of the encrypted archive right? Can't be kept on the filesystem like an unencrypted one but still faster just to unpack it with the database/xml file than to encode and decode it on demand

[2020-06-25 17:50] #958 closed

[2020-06-25 18:34] txe commented on #952
@DiagonalArg, are you ok with my comment, or some more work should be done?

[2020-06-25 18:52] #960 closed

[2020-06-25 18:52] txe commented on #960
Thanks for the issue! Fixed.

[2020-06-25 19:17] stanleyrhodes opened #966 "Could not open cherrytree.exe.log"
This issue started with the exact same issue reported here:
https://github.com/giuspen/cherrytree/issues/416

I would try to open a cherrytree file, it would tell me it couldn't open the cherrtree.exe.log in C:\Program Files (x86)\CherryTree\bin but I couldn't find that log file there. That seems like a bug or some sort of issue.

Then I followed the guidance in the above post to "Run as administr

[2020-06-25 19:34] gahisee commented on #958
great! that was a quick fix.
is there a new 0.99.2 available for download?

[2020-06-25 20:56] giuspen commented on #958
I'm going to package a new version 0.99.3 in the weekend

[2020-06-25 21:07] giuspen commented on #966
Can you try to run the testing version 0.99.2 which has additional checks on the database and report the result? Look at https://www.giuspen.com/cherrytree/#downl and scroll down.
Additionally you should have the backups in the same directory to try and open.

[2020-06-25 21:44] stanleyrhodes commented on #966
I downloaded the 0.99.2_win64_portable version, unzipped, ran as administrator, and opened the problem .ctb file. I got these messages:
"The database file P:/Documents/stan_personal_notebook.ctb is corrupt, see log for more details"
"Error parsing the cherrytree file."

I looked around for a new log file, but I can't find one. Does the portable version put it somewhere not-obvious, or did I need t

[2020-06-26 05:11] DiagonalArg commented on #952
@txe - you mean of a warning?  Yes, that's fine.

I am not sure I understand the issues about caching that @ForeverRainbow is discussing; but any speedup, sounds good to me!  :)

@giuspen mentions that the limit was mainly for XML.  That  too confuses me.  I know HTML, and so somehow I would have thought the XML would link to external files, but I guess attached files are stored as some binary enc

[2020-06-26 08:58] txe commented on #952
Thanks @DiagonalArg

[2020-06-26 09:05] txe commented on #966
Hi,
The cherrytree file itself is a sqlite database, and it's corrupted. You can open it by [sqlitebrowser](https://sqlitebrowser.org/).
[This article ](https://techblog.dorogin.com/sqliteexception-database-disk-image-is-malformed-77e59d547c50) describes how to recovery the db.

[2020-06-27 15:36] mahdi1234 opened #967 "C++ remember dialog dimensions after resize"
Latest C++ on Gentoo

I tend to enlarge some by default small dialogs like "Node properties" or "Choose existing tag", but new dialog size is not saved and it always changes back to default on next dialog re-open.

It'd be great to remember last used dialog size/position.

[2020-06-27 15:52] kettenfett opened #968 "[0.99.2,win64] Custom Background and Text Colors not working"
The settings for Custom Background and Text Colors in the "Rich Text" Tab are not being applied. Instead, I'm getting a white Background. Even after restarting CT.

Monospace is working.
Color Settings in Tab "Tree 1" also work.

![grafik](https://user-images.githubusercontent.com/23098362/85926307-e8e6ba00-b89e-11ea-82a7-573a03e2bcf7.png)

[2020-06-28 17:10] teamplay7 commented on #586
Any news? The last version 0.39.4 still has the same problem! :(

[2020-06-28 18:57] stanleyrhodes commented on #966
I am a SQL novice, so it's not obvious how to glue together the information you gave me into an entire process to get a recovered, working .ctb file. I was able to open the corrupted .ctb it with sqlitebrowser but I'm not sure what I was supposed to do with that.

I used the article you linked to download sqlite3.exe and I followed the instructions on that page. Using the integrity check it told m

[2020-06-29 11:04] txe commented on #966
When you removed `BEGIN TRANSACTION;` there were still errors in reading `dump_all.sql` but they were skipped.

I suppose the issue were caused by syncing, xml is definitely safer to use with cloud services.

About the log file, when cherrytree.exe has issues, it tries to write information in log file which place is in the same directory as cherrytree.exe is. It works OK for portable versions, but

[2020-06-29 11:14] giuspen commented on #586
Please test our development version 0.99.3 go to https://www.giuspen.com/cherrytree/#downl and scroll down

[2020-06-29 12:21] gahisee commented on #958
it's fixed! thank you!

[2020-06-29 18:49] giuspen commented on #444
@ForeverRainbow I've been finding crashes while cherrytree attempts to remove a file (while doing a "file -- save as" to existing filepath) so I started to unit test more thoroughly the filesystem but I keep on having segmentation faults which I can hardly explain. Could you please have a look at tests_filesystem.cpp -> TEST(FileSystemGroup, remove) try removing my #if 0 #endif // 0 since you know

[2020-06-29 19:51] stanleyrhodes commented on #966
Thank you. Good to know that XML might be a better choice for cloud storage. I had wrongly assumed the two formats would be equivalently vulnerable to problems on cloud services. I much prefer the speed of sqlite but not if I'm going to lose work every month or two from a hiccup.

I think more novice users are likely to install CherryTree in the default way, which means the default functionality r

[2020-06-29 19:51] txe commented on #444
@giuspen ,
It's because of recursion,  `fs::remove` calls `g_remove` which is `#define g_remove  remove`.

[2020-06-29 19:56] txe commented on #444
Maybe a good idea to include a namespace into a function definition (in this case, `fs` in .cc file)

[2020-06-29 20:13] txe commented on #444
Well, I think my last suggestion won't work, maybe `::g_remove` is better

[2020-06-29 20:15] giuspen commented on #444
Hi @txe good spot! If you have a moment and can sort this out with the unit test working removing the #if 0 it would be great, I'm risking a divorce here cannot access the PC for now :)

[2020-06-29 20:37] txe commented on #444
Done

[2020-06-29 20:46] giuspen commented on #444
Many thanks!

[2020-06-29 21:12] cmorgenstern opened #970 "Feature Request: Use ccache to improve re-compile times"
I am very excited about the port to C++/GTKmm, and I would like to thank the developers for all their amazing work they have done on the project so far.

I am one of the co-maintainers of [cherrytree](https://aur.archlinux.org/packages/cherrytree/) in the Arch Linux User Repository ([AUR](https://aur.archlinux.org/)) and I have been doing a lot of builds using the C++/GTKmm port in preparation for

[2020-06-30 11:57] txe commented on #970
Hi, why not use `-DCMAKE_CXX_COMPILER_LAUNCHER=ccache` ?

[2020-06-30 12:01] txe commented on #968
Hi, thanks for the issue.
It's known, you can read about it in #896

[2020-06-30 12:01] #968 closed

[2020-06-30 19:10] ForeverRainbow commented on #970
Isn't the usual way to use ccache to symlink it as gcc? That or point `CXX` and `CC` to it.

[2020-06-30 20:10] ricardojoserf commented on #126
This happened to me todat using the latest version of CherryTree ("The logfile '...\cherrytree.exe.log' could not be opened; [Errno 13] - Permission denied: '...\cherrytree.exe.log'"). It happened after Windows Defender "found" a "virus" in my cherry, now it is impossible to open it (maybe that is the cause)

[2020-06-30 20:18] ricardojoserf opened #972 ""Virus" in Cherry file detected by Defender seems to break the file"
Hi, during a project I created a Cherrytree file and added some code which was detected by Windows Defender as a virus (troojan more exactly). Opening the file as administrator a log file is generated with this content:

[code]

I do not know if there is anything I could do to recover this file; never, never had Defender detected something in any of my Chrrey files and now this happens xDD

[2020-06-30 22:50] endermaz41 commented on #176
Hi,
I'm getting a message at startup "A newer version is available 0.39.4"
I click on the message box, but no other window pops up.
I tried reinstalling, but nothing changes

[2020-06-30 23:16] cmorgenstern commented on #970
My apologies - looks like the clean chroot I have been using to run test builds was not explicitly making ccache available to the cherrytree build. I've fixed the issue locally.

I assumed the ccache instructions I referenced in my first post were a necessary prerequisite because a couple of other cmake projects I have been building in this clean chroot use them. I guess you could still include th

[2020-06-30 23:20] kencu commented on #176
If you do this, you will get the new version, and any other MacPorts updates thaave come along since you last did it:
{{{
sudo port -v selfupate
sudo port -v upgrade outdated
}}}

I didn't realize there was an auto-prompt message in CherryTree -- we are meant to disable that in MacPorts to prevent confusion, and let MacPorts handle it, so I'll see if I can look into that.

[2020-06-30 23:26] kencu commented on #176
Re: your `dbus` issue. I haven't noticed any issues launching ```dbus``` so far, but there are millions of combinations of software so always could be something.

I would do what you did ```sudo port load dbus```, and if that doesn't fix it, then restart the computer and do the same thing again. If that still doesn't fix is, please consider asking for help on the macports users mailing list <https

[2020-07-01 01:55] endermaz41 commented on #176
ty -

"sudo port -v selfupate" failed
"sudo port -d selfupdate" succeeded.

The prompt is gone but still empty mac screen.
Will open a ticket soon.

[2020-07-01 01:58] kencu commented on #176
well that's a different problem then. Glad you updated successfully.

1. did the last version work for you?
2. after you updated, does the new version not work for you? If not, does it still not work after you restart (that just makes all weird stuff better ... ).
3. what happened to dbus. Is that OK now?

[2020-07-01 02:04] kencu commented on #176
BTW -- if  ```sudo port -v selfupdate```  failed, lets do make sure you got that part fixed. You have to be able to run that to completion.

If that did fail, I'm not certain how ```sudo port -d selfudate``` would then succeed, but I would have to see what actually was the error to know.

[2020-07-01 02:21] endermaz41 commented on #176
The last version was working.

"sudo port -v selfupdate" now worked

Logged out, restarted.
when I do sudo cherrytree, it flashes in maximized form for one second. Then
But still getting the " : "dbus[2253]: Dynamic session lookup supported .."
I know it is loaded because when typing this to terminal "launchctl load -w /Library/LaunchAgents/org.freedesktop.dbus-session.plist". It says "service alr

[2020-07-01 02:30] kencu commented on #176
please don't run ```sudo cherrytree``` -- just run ```cherrytree``` or double click on the cherrytree application icon in ```/Applications/MacPorts/CherryTree.app```. That should solve your dbus problem at least. (dbus has to be running for the local user, and the system. When you run cherrytree with sudo, there would need to be a system dbus running for the sudo user, which there is not).

Let's

[2020-07-01 02:40] endermaz41 commented on #176
Doing cherrytree still gave me the same error.

But clicking on "/Applications/MacPorts/CherryTree.app" worked

Thank you

[2020-07-01 02:44] kencu commented on #176
well, you're in business! It all came down to ```sudo cherrytree``` -- look at that :>

BTW, it should work when you type `cherrytree` as well... mine does. Later on if you want to sort out what is what, feel free to report back exactly what happens when you do type that.

[2020-07-01 02:49] endermaz41 commented on #176
Ok, It still a little buggy to restart cherrytree.
When I quit everything,  and clicked on cherrytree, it flashed again.
SO, I typed cherrytree into terminal, nothing, but let it run. Then I clicked on the app icon. It came back on.
In terminal, it says "3 rise existing **hidden** in systray"

[2020-07-01 03:18] kencu commented on #970
Just chiming in unasked, but on MacPorts we do prefer to have ccache used only if we configure it to be used (we have global and local build settings to do this) rather than have software builds seek out ccache on their own and use it if found. Reproducible builds and all that. Back down my hole now. :>

[2020-07-01 03:39] kencu commented on #176
something is weird with your system. Once again, restart it to clear out all those (I guess) running instances of cherrytree that you have in your -- systray ? what is that? the dock? -- and if this wackiness is still happening to you, feel free to open a ticket for some macOS X11 specific help. This doesn't really sound like it has anything to do with cherrytree specificially, on the face of it.

[2020-07-01 09:24] txe commented on #970
Well, then we leave it as is

[2020-07-01 09:24] #970 closed

[2020-07-01 09:28] txe commented on #176
cherrytree has options `Enable System Tray Docking`  and `Start Minimized in the System Tray`. Can it be the case?

[2020-07-01 09:34] txe commented on #972
Well, it's not cherreytree issue obviously. You can turn off the defender to open the file to remove bad data from it. Or put the file in the directory which the defender won't check.

[2020-07-01 09:34] #972 closed

[2020-07-01 14:00] arensonzz opened #974 "Cherrytree snap package all text are rectangles"
Hello,
I'm using ubuntu 20.04, tried both stable and edge snap packages. The problem is all text in application appear as rectangles (added a screenshot). I tried changing font in preferences but when i click to another font, application immediately closes. How can I solve this problem?
Thank you.

![cherrytree-font](https://user-images.githubusercontent.com/56973411/86252529-04fa9c00-bbbc-11ea-97

[2020-07-01 14:11] giuspen commented on #974
Either use the flatpak package or try the development version 0.99.3 scroll below the stable in the download section

[2020-07-01 14:35] kencu commented on #176
Yes, that is it! I had not enabled those options before myself, but indeed, when i turn on that preference, I get the "quick screen flash then disappears" issue that @endermaz41 had, and then a blank screen. And then the "2 rise existing" message when I opened multiple instances.

And then some issues trying to get back to the preferences screen to turn that off again actually.

So those options,

[2020-07-01 14:48] kencu commented on #176
In the end, I had to edit ```.config/cherrytree/config.cf``` and set these two options manually off again, to get going:

[code]

I guess -- we should not respect those settings if they happen to be "True" on macOS, and grey out the options in the preferences dialog -- unless someone smarter than I am with python knows how to make this work like it is supposed to work.

[2020-07-01 14:54] txe commented on #939
@giuspen , you wrote

I checked, it works as you write

[2020-07-01 14:57] arensonzz commented on #974
Flatpak package works for me. Thank you for your quick reply.

[2020-07-01 14:57] #974 closed

[2020-07-01 15:14] selra-hc opened #975 "[Feature Request] - Ability to mass edit links relative path"
Hi,

I'd like to have the possibility to mass edit relative path in my current ctd file.

I maintain a parallel folder architecture to store my documents outside the main file using relative path. I'd like to change those path to update my folder architecture when needed.
For example, folder \X\A may be changed to \X\Archives\2019\A. It means that all links to documents (file and folder) have to b

[2020-07-01 15:17] #952 closed

[2020-07-01 15:22] txe commented on #952
I'm sorry, I couldn't figure out why the question about the limit was raised because I thought there was an option in Preference dialog to change the limit. Turns out this option is hidden, it can be change by editing `config.cfg`, the options is `embfile_max_size`.

[2020-07-01 15:28] txe commented on #975
Do you know any script language (e.g. python)? Paths are encoded by Base64

[2020-07-01 15:41] endermaz41 commented on #176
Yes, that was it.
All is well now.

One last question Kencu. I'm not at all familiar with X11.
You mentioned in an earlier post, thar once X11 is installed. there are 1000's of applications that I can install.
Is there a directory/list to see what I can install ? Or is it that I can install any linux package if I have the source or something along those lines ?

[2020-07-01 15:43] kencu commented on #176
I tried setting HAS_SYSTRAY to False here:
[code]

but for some reason, the preference still shows up in the preferences dialog box even if I do. So deeper...

[2020-07-01 15:49] txe commented on #176
@kencu I suppose everyone uses your package, so maybe just disabling systray on macos is fine.
If some user finds it not ok, we can then think about it.

[2020-07-01 15:52] kencu commented on #176
Pretty much the entire GNOME set of applications is available (that's like dozens), plus a great many that you might be familiar with from Ubuntu, gnucash, the KDE series, -- there are a great great many, most of them current.

if type "port search gnome" you'll get some of them, and if you want to just go-for-it, do ```sudo port -v install gnome``` and go have a coffee -- you'll be very well load

[2020-07-01 15:54] kencu commented on #176
can you help me sort out why setting this doesn't seem to do it?
[code]

[2020-07-01 15:56] txe commented on #444
About hidden options in config (just copied some stuff from source)
- these names can be changed like last used or something like that. autoSyncHighl is used strangelly and can be redone
[code]
- missing stuff
[code]
Actually, I have no idea what `m_custom_codexec_ext` does

- new stuff
[code]

[2020-07-01 15:59] kencu commented on #176
This is getting off topic for the is issue here, but yes, it is very simple to write a Portfile to install software, which is the easiest way. I am no genius, but I saw CherryTree on Ubunutu, and it took about 15 minutes to get it into MacOS. The MacPorts build file looks like [this](https://github.com/macports/macports-ports/blob/master/editors/cherrytree/Portfile) if you're curious.

[2020-07-01 16:15] txe commented on #176
Turns out there is no code which turn off the systray.
@giuspen , what do you think if I add code to disable systray for macos?

[2020-07-01 16:54] giuspen commented on #176
@txe sure!

[2020-07-01 17:05] giuspen commented on #444
m_custom_codexec_ext is just a list of extensions to give to the source code files when you press F5 to build & run automatically
`filepath_src_tmp = os.path.join(cons.TMP_FOLDER, "exec_code."+config.get_code_exec_ext(self, code_type))`
I'm happy that you rename to less cryptic names and feel free to add few missing controls from the preferences dialog, I want to add few more unit tests and get ri

[2020-07-01 17:08] giuspen commented on #939
@txe ok so we're good with that

[2020-07-01 17:10] giuspen commented on #126
you could try the development version that doesn't have this issue, https://www.giuspen.com/cherrytree/#downl scroll down for 0.99.3

[2020-07-01 17:13] giuspen commented on #966
that log is actually automatically generated from the old library, the new version won't have this issue. If you want to try it you can find it already even if still under testing at https://www.giuspen.com/cherrytree/#downl scroll down see 0.99.3

[2020-07-01 17:13] ForeverRainbow commented on #942
I think it may actually be better to just add some custom parsing to the pango text, I have been trying to redesign this and it is really quite painful.

[2020-07-01 17:15] txe commented on #942
OK

[2020-07-01 17:17] ricardojoserf commented on #126
Great! Thank you @giuspen

[2020-07-01 18:18] selra-hc commented on #975
Hi

Thanks for the hint txe.

I can handle short scripts but it will take me some time, trials and errors :) but knowing about the Base64 (which may be obvious, but wasn't for me :) ) gave me some hindsight on a way to do it.

I made an attempt with vim using macros (select path, isolate it from the rest of the line, decode from base64, search pattern and replace, recode, put back the result in on

[2020-07-01 19:11] giuspen commented on #444
I found a bug easily reproducible that unfortunately is not happening in the unit tests that I wrote. I'll have a look myself later but if you already know the cause @txe give a shout!
1) ./build/cherrytree tests/data/test.ctb
2) do not visit any node, click file--save as and choose SQLite, password protected, save it and close cherrytree
3) ./build/cherrytree (will open the .ctx)
4) go to the las

[2020-07-01 20:21] ForeverRainbow commented on #975
@selra-hc Python has a b64 module as part of its standard library, and BeautifulSoup can be used to parse XML. Good learning experience if you want to try it :)

[2020-07-01 20:25] txe commented on #444
I've found the reason of the issue, I'll fix.

[2020-07-01 21:05] giuspen commented on #444
Thanks!

[2020-07-02 02:31] DiagonalArg commented on #952
Ah, ok!  TY.

[2020-07-02 07:36] eugene-yakimenko opened #978 "Client crashes after attempt to attach image which was coppied to buffer in browser"
Trying to attache  image from firefox brom buffer, after that it sticks and crashes. Attachment from local file system work perfectly. Previously it worked in Kubuntu 19.10.
P.S. Kubuntu 20.04.

[2020-07-02 09:15] ForeverRainbow commented on #176
I did add code to disable the systray when it was detected as missing, wonder why it doesnt trigger on macos?

[2020-07-02 09:16] ricardojoserf commented on #972
Thanks for the feedback @txe . I have been using Cherrytree for years and this is the first time that happened to me! I could solve it anyways, just thought it should be noted. Thank you for closing the issue!

[2020-07-02 10:33] gerdeg opened #979 "CherryTree 0.99.3 problems on Kubuntu 20.04"
Dear all
I was trying out the experimental version 0.99.3.
-- I can set the background color of the tree, but cannot set the background color of the rich text: my setting has no effect, after restart I get always the same background color.
-- The font size of the right-click menu changes with the font size set in Fonts / Rich text

But more important:
-- The tree hierarchy changes all the time aft

[2020-07-02 12:21] txe commented on #176
@ForeverRainbow , don't be so hard on yourself :) but it was about python

[2020-07-02 12:25] txe commented on #979
About the background, it's a known issue, the approach used in the old cherrytree to change colors doesn't work for Gtk3. The proper fix would take a lot of time, so I skipped it until c++ version testing us finished.

But I didn't get about the tree hierarchy changes, can you elaborate it more?

[2020-07-02 14:23] gerdeg commented on #979
What I mean is: main items in the tree switch places 'spontaneously' after saving and reopening, the order of the items changes. The same goes for subitems under a main item. Not something you want in an outliner. I 'll test it out for you and sent you screenshots. Perhaps it has something to do with: these files I used this morning were all produced with the latest version of CherryTree under the

[2020-07-02 14:31] txe commented on #979
I see, the files must be sqlite, not xml. It's not necessary related to corruptions, it can be some bug with keeping sorting order of nodes. I take a look, but if you know how to reproduce this issue reliably, it would be great.

[2020-07-02 14:32] gerdeg commented on #979
Yes, they are ctb-files.

[2020-07-02 14:32] txe commented on #979
Although, you wrote it happened every time, so the test maybe unnecessary

[2020-07-02 14:34] gerdeg commented on #979
With two files, yes. But, i did not try something like Save and Vacuum and then reopen. And I did not make screenshots to clarify the matter. And I can use other files, I use CherryTree all the time :-)

[2020-07-02 15:28] txe commented on #176
@kencu , I put a fix by  #980

[2020-07-02 15:34] txe commented on #444
btw @ForeverRainbow, Although there is a tray in my OS (Arch/XFCE), the option is always disabled. Looks like `is_embedded` doesn't work as should.

[2020-07-02 18:33] giuspen commented on #978
Hi, what cherrytree version

[2020-07-03 08:11] eugene-yakimenko commented on #978
Hi,
Oh sorry forgot.
[image: image.png]
will try to update as i seen you put out new ver on 29 jun

чт, 2 июл. 2020 г. в 22:34, Giuseppe Penone <notifications@github.com>:

[2020-07-03 08:16] eugene-yakimenko commented on #978
seems it works in new version

пт, 3 июл. 2020 г. в 12:11, Yakimenko Eugene <yakimenkoev@gmail.com>:

[2020-07-03 10:09] ForeverRainbow commented on #444
@txe I was afraid of that, since there are ways to get the system tray even on GNOME with plugins. I hoped the is_embedded test would work for those since it is the way recommended by Gtk, I think a hidden config option to force the systray on would be best (since anybody who can edit the config file to set it can edit it to recover from not being able to open cherrytree due to being minimised)

[2020-07-03 10:11] ForeverRainbow commented on #444
Also if you could write up a style guide I can create a clang-format file and run everything through it

[2020-07-03 10:12] txe commented on #444
For some reason, I don't like the idea to reformat the existing code.

[2020-07-03 10:21] txe commented on #444
Back to systray,
People have been using cherrytree on Gnome for a while and I don't remember that they had turned on systray option and then complained about it.
I think if there is no way to check the systray existence, code should be reverted back. It doesn't make sense to have an always disabled systray option and then have a hidden option to turn it on.

[2020-07-03 10:37] ForeverRainbow commented on #444
@txe The systray existence check does work on non-linux systems afaik, the option isnt disabled there. The problem is that it is very easy to enable the systray option when it isnt supported and it will cause cherrytree to seemingly not open at all (and also run in the background forever). It needs to at least be force disabled by default if not detected on start I think.

The reason I say hidden

[2020-07-03 10:48] selra-hc commented on #975
Hi ! Back from my experiments vith vim and base64 encode/decode. As said before, it kinda work ;)

TLDR; I almost succeeded, but not perfect due to padding in base64. However it meets it purpose as I don't have anymore to manually change the path for each link , but just to validate the edit prompt once when I need to acces a file.

@Forever64 BeautifulSoup seems indeed interesting for my purpose,

[2020-07-03 10:49] txe commented on #444
I have a laptop with openbox and vm with xfce, both are perfectly linux, on both the check doesn't work and the systray option is always disabled.

[2020-07-03 10:50] selra-hc commented on #975
![01_error](https://user-images.githubusercontent.com/67684262/86462323-ba982d00-bd2b-11ea-923c-09a913fd99e5.png)
![02_validation](https://user-images.githubusercontent.com/67684262/86462332-be2bb400-bd2b-11ea-9aad-0beb08f9b2ed.png)

[2020-07-03 10:54] selra-hc commented on #975
![01_error](https://user-images.githubusercontent.com/67684262/86462666-3e521980-bd2c-11ea-9942-614564f38b70.png)
![02_validation](https://user-images.githubusercontent.com/67684262/86462678-4447fa80-bd2c-11ea-92b6-00c64b68dc1f.png)

[2020-07-03 10:56] ForeverRainbow commented on #444
Yes, I said on **non**-linux systems, I accept it is broken on linux systems

[2020-07-03 10:59] txe commented on #975
I'm a bit surprise to see such path 'Old\Job\Home\rrr'. Is it right?

[2020-07-03 11:06] ForeverRainbow commented on #444
Also possibly reports of this issue #596 and (maybe) #669

[2020-07-03 11:08] selra-hc commented on #975
Yes it is :) rrr is a text file without extension, although I could have named it rrr.txt. For test purpose it was enough though, and this is what I have with all my files (mostly .docx and .odt)

![rrr](https://user-images.githubusercontent.com/67684262/86463624-27acc200-bd2e-11ea-8ba9-aee433222036.png)

[2020-07-03 12:52] giuspen commented on #978
Ok cheers will close this then

[2020-07-03 12:52] #978 closed

[2020-07-03 14:45] txe commented on #975
I will leave it.
It actually is good idea to have ability to search and replace in links. The other things as tables, codeboxes, tags also have the same issue.

[2020-07-04 10:40] ForeverRainbow commented on #942
@txe I am going to go ahead with implementing the links now, is there anything major you want to rework which might conflict?

[2020-07-04 11:57] txe commented on #942
@ForeverRainbow , no, nothing like that.

[2020-07-04 20:22] jean-raphael opened #983 "Feature request : handwriting and draw box"
have the possibility to take notes with handwriting (with orc ?)

And simple control of the draw as the color and the size

I think is better if you use vector drawing because with it we can add feature as an eraser of the lines

this may have new special note/node with are full draw pages with infinit height or pagination system

and more we can add resizable draw box on normal notes

[2020-07-05 09:41] Thmyris opened #986 "Bug: Selected node in tree view expands when you double click another node's expand icon (the +)"
CherryTree 0.39.4
Steps to reproduce:
0. We have 2 nodes that has some subnodes under them. Both nodes are collapsed.
1. Select the 1st node in tree view by clicking once (making it turn blue on default theme).
2. Move mouse to the 2nd node's expand icon (+)
3. Double click to quickly expand and collapse that node's subnodes.
4. The previously selected node expands.

Expected Behaviour:
Only the 2

[2020-07-05 10:13] Thmyris opened #987 "[Bug] Double clicking a node's expand icon(+) causes another selected node to expand"
**Version:**
CherryTree 0.39.4

**Tested on:**
Windows 7 SP1
Kali Linux 2020.1b XFCE

**Steps to reproduce:**

1) We have 2 nodes that has some subnodes under them. Both nodes are collapsed.
2) Select the 1st node in tree view by clicking on it once (making it turn blue on default theme).
3) Move mouse to the 2nd node's expand icon (+)
4) Double click to quickly expand and collapse that node's sub

[2020-07-05 10:15] Thmyris commented on #986
Whoops, dupe.

[2020-07-05 10:15] #986 closed

[2020-07-05 13:25] gerdeg commented on #979
So ... I tested four different files and its true:

If you want the screenshots for prove I can sent them to you or put them here.

I also discovered:

That's it for today. :-)  Ger de Gooijer

[2020-07-05 13:37] gerdeg commented on #979
O, I forgot:

[2020-07-05 13:43] txe commented on #979
Thanks a lot for your help!
I had a lot of work to do the last week, so I was a bit tired from programming. But I think I can start fixing stuff the next week.

[2020-07-05 15:26] giuspen commented on #444
A little one @txe that I found yesterday, since I would be tempted to rework it a bit to fix the issue, I prefer instead to have your feedback on it. Basically if you open a password protected document and then you change your mind and press cancel on the dialog asking for the password, there is an error dialog saying that there was an error parsing the document, this is incorrect. I looked at the

[2020-07-05 15:34] txe commented on #444
Yeah, I remember this issue and I had the same thoughts, only one thing stopped me, it was annoyingly uneasy to pass the fact that user canceled the dialog.  Maybe throwing a custom exception for that and then,  as a result, not showing any messages, is a bit better. But anyway if you have in mind how to fix it, got ahead.

[2020-07-05 15:39] giuspen commented on #444
I thought as an easy at least temporary workaround to parse the error message but that would be a bit flaky because then if you change the message we're back. I'll have a thought anyway, I may push something later.

[2020-07-05 15:43] txe commented on #444
Links are really cool. Btw, how is your progress with testing? Did you do as much as you wanted?

[2020-07-05 15:56] giuspen commented on #444
I made a good progress with my read and write unit tests but I still have to add the embedded widgets harness, hopefully that will come in the next few days. After that it should be fairly easy also to set up unit tests on the imports from other applications into cherrytree when gradually implementing that.

[2020-07-05 20:53] ForeverRainbow commented on #444
Why not make it return an `std::optional` instead of throwing, or split it into two functions one which gets the password (which is empty if cancelled) and one which decrypts it (which would imho be cleaner)

[2020-07-05 21:02] giuspen commented on #444
Hi @ForeverRainbow I actually already implemented something, currently in 0.99.4, that solves the issue. I returned an empty extracted filepath in case of user cancel rather than throw an error and up the stack in case of empty error I'm not showing the error dialog.

[2020-07-06 03:12] javadevelopment4 commented on #272
is the slowness has been fixed in the recent version ?

[2020-07-06 12:46] jean-raphael commented on #870
same problem for image if we can resize with mouse as text box in libreoffice
by just drag and drop without lose quality (for the images)
It would be EXTREMELY great =)

[2020-07-06 13:11] jean-raphael opened #989 "automatic update for toc"
when whe add nodes on a chil of node with toc

update automatically the toc

add an option to lock the toc

add an option to restrict toc as "n" level of nodes

[2020-07-06 20:12] giuspen commented on #272
Please @javadevelopment4 try the latest development version 0.99.4 scroll below in the download section after current stable 0.39.4

[2020-07-06 21:01] Anon-Exploiter opened #991 "CherryTree hangs on increasing width of Code Box"
Hi,

This issue has been recently occurring with me, Cherrytree hangs whenever I add the following code snippet below in the Codebox with format `sh` it hangs.

[code]

Cherry Tree Version: **CherryTree 0.39.4** (latest)

Saving format: `.ctb sqlite`

Here's a **video POC** of the issue for better reproduction: https://drive.google.com/file/d/1F0Ml_tsWNkXrQF8ZVtL0ceoDRynJDO5i/view?usp=sharing

Dis

[2020-07-06 22:40] #987 closed

[2020-07-06 22:40] txe commented on #987
Thanks for the issue, fixed!

[2020-07-06 23:21] txe commented on #991
@giuspen , can you reproduce this issue? I tried but everything was ok.

[2020-07-06 23:35] txe commented on #957
@kettenfett,
@ForeverRainbow updated the code, you can try it again. Some tags

[code]

[2020-07-07 06:06] Anon-Exploiter commented on #991
@txe do let me know If I can help you guys with any logs, I'm not sure of any argument which can bring detailed logs.

If there's any, let me know.

[2020-07-07 07:55] coruja182 commented on #245
Hi all,

The treepad lite import feature does not work (nothing appears when clicking on the menu) on the portable version (tested on Windows 10 and Windows 7).

Version tested: cherrytree_0.39.4_win32_portable.7z

[2020-07-07 12:44] txe commented on #991
Maybe it is an issue with the source.  Did you try to copy the code snipped from github? Another thing you can try is to save a document then open it and change codebox width.

[2020-07-07 13:51] txe commented on #245
Ok, I'll check it.

[2020-07-07 18:42] giuspen commented on #991
@txe I'll try and let you know, mind it's on the old Pygtk2 version. Anon would you be happy to test the latest development version 0.99.4 that is built on much newer library? (I suspect a gtksourceview issue)

[2020-07-07 20:35] Anon-Exploiter commented on #991
Thanks, guys. Let me try, will update accordingly.

[2020-07-07 21:01] Anon-Exploiter commented on #991
So guys, I'm not sure why, but the issue isn't reproducible. I did it yesterday like 3-4 times and it was hanging but it seems it's fixed somehow. Not sure how, but whatever works :sweat_smile:

Thanks. Closing this.

I'm on Ubuntu 18.04, that one is for Ubuntu 20.04, tried building but it isn't working, tried resolving the dependency issues which resulted in generating even more errors.

[2020-07-07 21:01] #991 closed

[2020-07-08 00:16] scsijon commented on #885
ok, sorry for the slow response, lockdown has caused all sorts of problems, I will give it a go and see what happens

[2020-07-08 06:35] Shizzlebix opened #994 "build future on mac"
Hey there,

if i build the future on mac so that i can use it like yet... there comes the follow error @make

`[ 82%] Building CXX object src/ct/CMakeFiles/cherrytree_shared.dir/ct_actions_edit.cc.o
In file included from /cherrytree/future/src/ct/ct_actions_edit.cc:22:
In file included from /cherrytree/future/src/ct/ct_actions.h:26:
In file included from /cherrytree/future/src/ct/ct_dialogs.h:27:

[2020-07-08 08:17] ForeverRainbow commented on #994
I'll look into it, in the meantime #982 is the most recent I can find which built sucessfully on mac (checkout commit ff09b10977ec2184631b4a224ce6394074f213a7). Does that build sucessfully for you?

[2020-07-08 08:34] ForeverRainbow commented on #994
I cannot reproduce this, I am guessing it is something specific to mac although it is strange that it should only be an issue now and that #982 and previouse ones built fine although `CtSplittable` and related havn't been touched since it was introduced (#838) afaik.

Be interested to know if you can build #982

[2020-07-08 08:36] ForeverRainbow commented on #942
Should I close this? I didn't mark it as resolved in the pull request because it only applies to the C++ version

[2020-07-08 08:53] txe commented on #514
It was implemented by @ForeverRainbow in #982. Use 0.99.4 C++ version to try it.

[2020-07-08 08:53] #514 closed

[2020-07-08 08:53] pxcask opened #995 "Feature Request: Turn nodes to direct links"
Certain nodes can be sorted as subnotes to a variety of parent nodes (e.g. "car insurance" can be a subnote to "Insurances" or "car"). If you are not careful, you end up maintaining two nodes with the same topic which eventually need to be merged.

My current workaround is to place a link to the relevant subnote into the page and toggle the page "read only". This is not particularly elegant, thoug

[2020-07-08 08:56] txe commented on #942
Thanks @ForeverRainbow , C++ version is enough. Also, I closed #514

[2020-07-08 08:56] #942 closed

[2020-07-08 09:29] txe commented on #994
Hi, I can build the current source in Travis and vm with Catalina .
What are your macos and clang versions?

[2020-07-08 11:15] ForeverRainbow opened #996 "Use Conan for dependency management"
Hi
I mentioned this a while back in #444 but it kind of got lost. Here I am going to lay out what I think the benefits to using conan would be, some of the potential problems I can see, what Conan actually is, and the packages currently supported.

[Here](https://docs.conan.io/en/latest/getting_started.html) is a link to the Conan docs which I recommend reading if you do not know what Conan is (th

[2020-07-08 13:39] txe commented on #979
It should be fixed now, thanks for the issues!

[2020-07-08 13:42] txe commented on #979
Forgot about font in menu, so it's back

[2020-07-08 13:45] txe commented on #979
I can't reproduce it, are you sure about this issue?

[2020-07-08 14:36] txe commented on #245
@coruja182, I tried to import a simple treepad file, and it was OK. Can you give an example of treepad file which you cannot import?

[2020-07-08 14:38] txe commented on #245
Maybe the python 2.7 you have doesn't have  installed `chardet` package. You can try to install it by  `pip install chardet`

[2020-07-08 18:00] gerdeg commented on #979
Yes, could reproduce it just now. The right-click menu font size outside the CherryTree window is normal, but inside the CherryTree window it takes the font size of Fonts / Right text. Cannot make a screenshot of this, but it is really true here in Kubuntu 20.04.

[2020-07-08 18:01] gerdeg commented on #979
Let me know if you have a new version out I can test. Bye now.

[2020-07-08 22:21] giuspen commented on #996
@ForeverRainbow I'm quite happy with the build system we have at the moment, note about the dependencies that you listed:
spdlog YES (the only one though)
fmt NO, it's gone
7zip NO it is highly customised source, not a library
sqlite3 NO this is an external library
libxml2 NO this is an external library
I would rather ask you to help with the remaining imports to port from Pygtk2 if that is of int

[2020-07-08 22:31] giuspen commented on #979
0.99.4 is the latest development version packaged but does not include this fix; 0.99.5 will be issued probably next Sunday

[2020-07-09 08:11] ForeverRainbow commented on #996
@giuspen Conan isn't a build system, CMake would still be used, it just manages dependencies (and can do it transparently so the current way would still work if needed). Didn't know 7zip was customized, but I listed `fmt` because it is a dependency of `spdlog` (although we are using the bundled fmt). cherrytree does dependend on sqlite3 though unless I am much mistaken as well as libxml2 (indirect

[2020-07-09 08:14] coruja182 commented on #245
Hi @txe , maybe it is my fault, I use jreepad, which is a Java implementation of treepad that handles the UTF-8 chars, because I am Brazilian and Treepad lite does not handle well our character encoding.
I use cherry tree portable on the company's laptop for personal notes, I don't have admin privileges.

I will try to download treepad lite on my PC and create a simple treepad file.
The problem wa

[2020-07-09 08:21] txe commented on #245
@coruja182, OK,
but the python version is almost legacy, all development goes for C++ version (`/future` folder), although treepad import is not implemented there yet.

[2020-07-09 10:44] gnozil opened #999 "C++ version in Ubuntu 20.04 with Unity desktop has not systray icon (indicator)"
Thanks for the great C++ version ! I compiled it in my Ubuntu 20.04 and it works well in Unity desktop (gnome shell is not my choice).

However, there is not systray icon (indicator) in Unity topbar when CherryTree is running. And the worse thing is as long as I clicked the Close-Window icon, the CherryTree will completely disappear and I cannot make it show off anymore, and cannot start a new ins

[2020-07-09 11:12] ForeverRainbow commented on #999
Hi
Have you enabled the system tray option in preferences? System tray detection has been a bit of a saga, #990 and a later pull should have fixed it afaik. Running in the background without an icon is weird since I added code to explicitly prevent that from happening (if the system tray wasn't detected).

I haven't used ubuntu in a while but I remember something about having to white list apps fo

[2020-07-09 11:14] ciranus opened #1000 "CT 0.99.4-1 file-picker in KDE / xdg-desktop-portal-kde"
The KDE file-picker is better than the gtk file-picker.
This is why **xdg-desktop-portal-kde** is available (Debian/Ubuntu & all).

Expected behaviour in KDE with 'xdg-desktop-portal-kde' installed:

`GTK_USE_PORTAL=1 /usr/bin/firefox`

will use KDE file-picker in Firefox (or any other gtk apps).

'GTK_USE_PORTAL=1' has no effect on CT 0.99.4-1

Enhancement proposal:
- enable 'GTK_USE_PORTAL=1'

-

[2020-07-09 11:26] txe commented on #979
About the issue with the font in the context menu.
It's a bug of the installed system theme and all gtk3 apps are affected by it, e.g. gedit, plume and etc. You can read a bit [here](https://bugs.launchpad.net/ubuntu/+source/pluma/+bug/1823550).

There are three ways to fix it:
- create an issue in kubuntu bugzilla (or that they are using)
- change the current theme
- force the different font for

[2020-07-09 11:26] #979 closed

[2020-07-09 11:27] txe commented on #999
I'll take a look

[2020-07-09 11:38] souryap commented on #266
This guy was able to sync somehow.
https://www.youtube.com/watch?v=WkR1DFFOHhc

[2020-07-09 11:51] txe commented on #1000
I thought it should work out the box, but turns out `Gtk::FileChooserDialog` should be replaced by `Gtk::FileChooserNative`.
I wonder if is there any drawbacks to use `native` dialog?

[2020-07-09 12:04] ForeverRainbow commented on #828
@txe, @giuspen  I have written a keepnote importer, however I just realised I cannot test it due to not having python 2, which is going to be an issue for people moving to the C++ version as well. Is the C++ version going to support keepnote? Anyone who uses it presumably has python 2 so can run the python version to do the import if they want.

[2020-07-09 12:11] ForeverRainbow commented on #1000
@txe You can't customise `Gtk::FileChooserNative`, so can't add buttons, actions, etc (it inherits from `NativeDialog` instead of `Dialog`)

[2020-07-09 12:14] ciranus commented on #1000
@txe
I don't know the technics behind it. So much history on it.
What I know is that using a gtk file-picker is a nightmare when used to KDE one.
It took more than 10 years to have a correct file-picker for gtk apps in KDE.
It works perfectly for Firefox, Thunderbird.
I use very few gtk apps (less as possible), and don't exactly know what happen with others.

Not a major issue, but CT-gtk3 is may

[2020-07-09 12:49] txe commented on #1000
Don't worry, I'm working on it.

[2020-07-09 12:50] txe commented on #828
I didn't get it, how is python2 related to import implementation?

[2020-07-09 13:15] #1000 closed

[2020-07-09 13:16] txe commented on #1000
Done, now it should work

[2020-07-09 14:16] txe commented on #266
It's really simple. He uses a script which
- pull changes from github: `cd ~/github_files && git pull`
- run `cherrytree`
- push changes to github after closing cherrytree: ` git add . && git commit -m "Kali changes" && git push`

Like this
[code]

On windows, he even added a cherrytree icon to this script, so it looks like he runs the original cherrytree app.
Only a drawback here, if you change f

[2020-07-09 15:17] Thmyris commented on #987
I thought this was an edge case bug with a very low priority yet you fixed it! You rock man!

[2020-07-09 15:35] ForeverRainbow commented on #828
@txe Keepnote is written in python 2 and the last release I can find is in 2012. I do not have any way to test my implementation since I cannot generate keepnote files. If anybody has some keepnote files for testing that would work too I guess

[2020-07-09 15:42] txe commented on #828
Ah, now I see, if you have already written keepass importer then it can be left as is. If users will have any issue with it, then we can ask files to test it..

[2020-07-09 16:09] giuspen commented on #996
Thanks @ForeverRainbow ! If you consider also external libraries like sqlite3 and libxml2 then there is more to add, I thought you were considering only what we embed

[2020-07-09 16:39] giuspen commented on #828
I will also can generate some data with a virtual machine in future and test it

[2020-07-10 02:41] metal450 opened #1003 "Building Cherrytree on Windows (Future)"
I'm following the instructions here: https://github.com/giuspen/cherrytree/tree/master/future#building-cherrytree-on-windows

...In an attempt to build "future" on Windows.  However, the step ./autogen.sh yielded:

     ./autogen.sh: line 7: autoreconf: command not found

Adding this in the setup instructions fixed it:

    pacman -S --needed --noconfirm base-devel

...However, the configure comma

[2020-07-10 02:48] metal450 commented on #1003
Also cmake was missing

[2020-07-10 02:54] metal450 commented on #1003
...However, unfortunately it still won't build - and now I'm stuck.  It says gtkmm3 is missing, though I definitely did install mingw-w64-x86_64-gtkmm3 per the instructions.  Here's what it shows:

     $ ./build.sh Release
     CMAKE_BUILD_TYPE=Release
     Tests are ON
     -- Checking for module 'gtkmm-3.0'
     --   No package 'gtkmm-3.0' found
     CMake Error at /usr/share/cmake-3.17.3/Modul

[2020-07-10 07:56] ciranus opened #1004 "CT 0.99.4-1 / Help » About » Website link [KDE]"
Clicking “Help » About » **Website**” will not open in KDE default browser, but will request a program to be selected in a pop-up calling “Discover” application. [ see [illustration](https://reho.st/self/dcee40fe1e9f3353160cf461723124e28d1e2993.png) ].

I've never used "Discover" in KDE because totally optional, and request 25MB unnecessary extra packages.

`appstream apt-config-icons libglib2.0-b

[2020-07-10 08:17] ForeverRainbow commented on #1003
@metal450 The steps I use to sucessfully build on windows (not quite the same as the readme)

- Install mingw (`pacman -S mingw-w64-x86_64-gcc`) not sure if you have, but the `gcc` package is msys2 gcc not mingw64-gcc
- Install `ninja` (`pacman -S ninja`)
- Install mingw version of cmake (`pacman -S mingw-w64-x86_64-cmake`) (It has a different path and can find mingw packages)
- Install autoconf (

[2020-07-10 08:43] txe commented on #1003
@metal450, make sure you start 64 bit console - "MSYS2 MinGW 64-bit".

[2020-07-10 12:10] txe commented on #999
Actually, I couldn't find if Ubuntu 20 with Unity has a system tray at all.

Also, it is not clear for me how you could turn on a systray option in cherrytree because it gives a warning about a missing systray (I've added this feature recently). Anyway, I updated the code ( #1005), so the start of the second instance of cherrytree makes visible all windows hidden in a systray just for that case.

[2020-07-10 13:43] ForeverRainbow commented on #828
In terms of priority what imports should be done next?

[2020-07-10 13:59] txe commented on #828
Treepad?

[2020-07-10 17:03] ForeverRainbow commented on #828
Btw, the only download link for Treepad I could find was with the wayback machine [here](https://web.archive.org/web/20161204165159/http://www.treepad.net/download/treepad269.zip). Treepad does have export funcionality too (and HTML is supported), just not sure about reimplementing so many importers for uncommonly used software especially given that it is only an extra step (export from the softwa

[2020-07-10 17:36] metal450 commented on #1003
Ahh, now I see that in the instructions. I wasn't clear that it actually installed 3 completely different shortcuts and you have to launch it with that explicit shortcut.  I thought that was just referring to having installed MSYS2 64-bit, which I had.

Still tho, no go. If I quit msys and re-run msys with that different shortcut, perform all the listed steps, now the error is:

     $ ./build.sh

[2020-07-10 17:43] metal450 commented on #1003
Thanks for the ideas.  Trying it this way, it fails at:

     Make Error at C:/msys64/mingw64/share/cmake-3.17/Modules/CMakeTestCCompiler.cmake:60 (message):
       The C compiler

    "C:/msys64/mingw64/bin/cc.exe"

    is not able to compile a simple test program.

    It fails with the following output:

    Change Dir: C:/msys64/home/Metal450/cherrytree/future/CMakeFiles/CMakeTmp

    Run Buil

[2020-07-10 17:50] giuspen commented on #828
@ForeverRainbow if a document type is very old and you hardly can prepare data to test the import skip it and I will consider whether to leave it off the future cherrytree.

[2020-07-10 18:57] ForeverRainbow commented on #1003
@metal450 Thats... weird looks like the paths havnt been escaped properly. But your first error with cmake should be a trivial fix. Just run `rm build/CMakeCache.txt` and it should work

[2020-07-10 19:21] metal450 commented on #1003
Fixed!  Next errors:

[code]

[2020-07-10 19:26] giuspen commented on #1003
Don't worry about those errors running the unit tests. In particular if you still seeing at the end:

OK (49 tests, 49 ran, 6243 checks, 0 ignored, 0 filtered out, 5758 ms)

[2020-07-10 19:33] metal450 commented on #1003
Yeah, it shows that at the end.  However, cherrytree fails to run reporting a whole bunch of missing DLLs, so I figured it might be related to all the reported build errors.

[2020-07-10 19:39] giuspen commented on #444
Hi @txe at the time of implementing the read/write of the tables, I thought it was the right time to stop moving the header to the end (which I have kept doing for backwards compatibility for the pygtk2 life) so I implemented this additional xml attribute "head_front" that, if found at reading time, would mean that there was no need to move the last line to the first position since the rows were a

[2020-07-10 19:43] giuspen commented on #1003
well you either have to run cherrytree from the msys2 mingw64 terminal or it won't work. you cannot just double click on cherrytree.exe. In order to create a standalone working package with all the dependencies out of the msys2 mingw64 terminal there is a script: scripts/msys2_prepare_standalone.sh

[2020-07-10 19:44] txe commented on #1003
yeah, maybe better README is needed )

[2020-07-10 19:48] metal450 commented on #1003
@giuspen: Ah - Yup, that does it!  All up and running :)

@txe: Yea - hopefully the above experiences from a first-time, from-scratch builder could be inform for some potential clarifications, to avoid confusion for other first-timers :)

[2020-07-10 20:10] txe commented on #444
Sorry about it, I didn't mention that change. I was freaked out when I opened files in pygtk and all tables were broken. But you see, no complains about tables now :)

I don't know, I don't have strong arguments for both cases.
If it was up to me, I would just play it safe and leave it as is because though it definitely looks odd, it does no harm. And having two slightly different formats, checkin

[2020-07-10 20:36] metal450 commented on #849
I just realized: when you refer to code nodes, do you mean code boxes? Or "Rich Text" nodes? Or something else?  Because if it's Code Boxes, this actually wouldn't solve the issue of indentation in regular text, right?

I was trying to play around with CherryTree again today to see if I could figure out any way to workaround this (again, to be able to move away from OneNote).  I wasn't able, but I

[2020-07-10 20:54] txe commented on #849
@metal450, you are lucky)
A few days ago, I run into how to indent the whole paragraphs. It's pretty simple and can be done by wrapping the text by some custom tag (like bold tag).

FIY, @giuspen , the tag can be created this way:
[code]

So, the main issue here, adding a new tag will break a backward compatibility with pygtk.

[2020-07-10 20:59] metal450 commented on #849
Yessssss!  Such awesome news :D

As described above, wouldn't adding a new tag simply cause the old version to ignore it / not render it?  So it wouldn't actually break backwards compatibility - just that the old version wouldn't be able to render the new feature?

[2020-07-10 21:05] txe commented on #849
I never do it, so I don't know, but I know that currently it even if the tag is ignored, when after re-resave it will be lost.
There are some ways to fix, we just need to think though edge cases and come up with some solution.

[2020-07-10 21:14] metal450 commented on #849
Ah - yeah, that's the round-tripping issue I was discussing above.  Basically the file just need some additional member - a raw bytestream - so that if it finds unknown data while deserializing it can just dump it there, then re-serialize it when saving, so it'll survive the round trip - even if older versions don't know how to interpret it.

That's the fancy solution though.  The super quick/easy

[2020-07-10 22:11] giuspen commented on #444
That's fine, the plan was to update the Pygtk2 version to support that attribute before the Gtkmm3 version would go public but I've never looked at that until today when I was looking at unit testing the tables and I remembered I didn't want to see the header at the bottom anymore... but there it was :)
I'll leave it as it is for now, other issues have definitely higher priority

[2020-07-11 11:10] ForeverRainbow commented on #1003
Maybe just a link to this issue like with the macos?

[2020-07-11 11:21] ciranus opened #1006 "CT 0.99.4-1 - Search/Replace[REGEX] crash"
Search/Regex Replacement crash (_test made on new empty instance_.)

Way to reproduce: search as regex for
`](`
Regex replace by
`]\n(`
=> crash.

Other test: search as regex
`\]\(`
Replace by
`]\n(`
does not crash, but results as
`]\n(`
instead of
[code]
---
_cherrytree_0.99.4-1_amd64.deb_

[2020-07-11 12:23] giuspen commented on #1003
It makes sense to improve the README

[2020-07-12 13:18] ciranus opened #1007 "CT 0.99.4-1 - Link markdown paste problem"
After trying different Markdown copy firefox addons, thinking they were buggy, I came to the conclusion the bug is in CT.

Steps to reproduce:

1. Install [ [Copy Markdown link](https://addons.mozilla.org/fr/firefox/addon/copy-markdown-link/) 7kB ] firefox addon
2. visit https://www.giuspen.com/cherrytree/
3. right-click > "Copy Markdown link"

In a text editor, it will give :
`[cherrytree – giusp

[2020-07-12 13:35] ForeverRainbow commented on #828
Researching some of these formats, it looks like most of them seem to be HTML and all that will be needed is picking the right files to import. Some (EssentialPIM and probably others) use inline CSS, do we need to worry about that or just render the HTML?

[2020-07-12 13:58] giuspen commented on #828
The Pygtk2 version is surely not parsing the CSS so I would be conservative with that

[2020-07-12 14:08] ForeverRainbow commented on #828
The list of things I am going to skip for now at least:
- Keynote: Apple only
- Knowit: Last release 2004, therefore provides no fedora package and compiling from source likely requires libs which are unavailable now (although I havnt tried)
- Basket: Last release is 2010, depends on Qt4 which I would prefer not to install and must be build from source
- Treepad: As mentioned above, very difficult

[2020-07-12 16:03] ForeverRainbow commented on #828
Ok, RedNotebook and NoteCase both have HTML export options. Imho we should use these as they will be better and more-up-to-date than trying to parse their native formats directly. Mempad has some weird custom format (and can only export to txt) for which I will set up a parser.

I suggest that instead of directly supporting native formats for everything, instead simply ensure the HTML parser can h

[2020-07-12 16:57] giuspen commented on #828
Sure as long as the exported HTML is not losing information that we need

[2020-07-12 17:51] saeed662 opened #1008 "Glib-Error gmem.c:239 failed to allocate 13107 bytes aborting"
Cherrytree v0.39.4
When exporting to PDF it crashes with the following error:
Glib-Error gmem.c:239 failed to allocate 13107 bytes aborting

the total file size of cherrytree .cbt file is 2.4MB (has a lot of screenshots)

It also hangs on linux when trying to export to PDF,  just tested it, very strange!

[2020-07-12 18:35] saeed662 commented on #1008
I figured out what was going on after tracing back my steps,
The issue seemed to be a file corruption of some sort.

To reproduce the error this is what I had done, I had used a codeblock and pasted a long encoded string (I am writing an infosec report) the string was a powercat encoded shell,  after removing that encoded long string from the codeblock and re-saving the file I was able to export P

[2020-07-13 03:36] Xietaiy opened #1009 "Hi How to adjust the background color to white ?"
Hi  How to adjust the background color to white ?

![image](https://user-images.githubusercontent.com/31933126/87268464-05b8f980-c4fd-11ea-982a-27e8124feaff.png)

[2020-07-13 05:33] #1009 closed

[2020-07-13 10:41] sevazre opened #1010 "[Feature Request] Double toolbar"
It'd be nice having this feature, since one of my monitors is not large enough to hold all the tool icons I want to have easy access to.

![Toolbar](https://user-images.githubusercontent.com/43146889/87295682-d8247e00-c505-11ea-8b6d-64dc1d00ddeb.png)

[2020-07-13 14:02] Thmyris commented on #1009
Hey you can do this with rich text nodes. Its under Rich text settings in preferences.

[2020-07-13 14:05] Thmyris commented on #1004
Hi, just here to lyk, the illustration gives a 403.

[2020-07-13 14:51] ciranus commented on #1004
403 ? Strange. Works for me. Another one:
https://nsa40.casimages.com/img/2020/07/13/200713050149885915.png

[2020-07-13 15:22] gnozil commented on #999
If I modify the two systray related options to true in preference dialog, or flip the two options in ~/.config/cherrytree/config.cfg, CT cannot show window at all in Unity desktop. This the behavior observed in HEAD version hash a1348183b4a6c8bc23481f3c7d0164d98b592547.

[code]

And could you also move the CT Window menu bar to Unity global menu bar? Thanks !

[2020-07-13 17:28] giuspen commented on #1010
you can decrease the size of the toolbar icons, have you tried that? View--Decrease Toolbar Icons Size

[2020-07-13 18:45] sevazre commented on #1010
Yes I know, thanks. I've already done that, but there are so many icons that they look tiny once I've zoom them out.
 I would rather have just more than one toolbar so as not to have all those icons altogether in an untidy way.

[2020-07-13 19:22] Thmyris commented on #1004
Yep this 2nd one works, but the link in OP is still 403 Forbidden. It probably works with your login.

[2020-07-13 20:16] ciranus commented on #1004
No login used.
Still work in a "normal" browser window, but does not work in a "private" window.
Don't know why, because the top site is OK in normal&private mode: https://reho.st/

[2020-07-14 06:40] Xietaiy commented on #1009
@Thmyris thank you very much

[2020-07-14 07:30] metal450 commented on #849
Although I have zero familiarity with gtkmm3, I thought I'd have a quick go at seeing if I could figure out what's going on & help push this forward.  As a super dirty proof-of-concept, I tried just making 'strikethrough' also indent - and indeed the style suggested by @txe works :)  You can try it with this patch:

[code]

Obviously this isn't any kind of real solution, but you can write a bunch

[2020-07-14 11:58] ForeverRainbow commented on #828
Should I remove the import options for formats HTML will be used for or redirect them to the HTML importer? I feel like leaving them there clutters the UI but there needs to be some explanation that cherrytree does still support importing from these applications just in HTML form

[2020-07-14 12:05] txe commented on #1004
What the output the following command?
[code]

[2020-07-14 12:07] ForeverRainbow commented on #828
Ok I have found leo (<https://github.com/leo-editor/leo-editor>), I will do it next

[2020-07-14 12:11] giuspen commented on #828
Thanks @ForeverRainbow , before inviting the users to make use of the HTML export of a note taking application we will have to test that parsing it recreates the tree properly in cherrytree. If you want to comment out the imports that are not really supported at the moment that is fine, maybe add a "todo" pattern so we can easily spot them.

[2020-07-14 12:12] ForeverRainbow commented on #828
@giuspen Yes of course they need to be tested, I was just wondering whether they would be left as they were with separate options or merged into the HTML import file/folder

[2020-07-14 12:15] txe commented on #999
Again, does Unity have systray? because I don't see it there.
And when I run cherrytree in Unity, there is already global menu bar.

[2020-07-14 12:15] giuspen commented on #828
My point is that until we see that the HTML parsing has complete information we cannot exclude in the end we will parse the proprietary data

[2020-07-14 12:19] ciranus commented on #1004
Good question.
/usr/share/applications/defaults.list does not exist in my system.

[2020-07-14 12:31] ForeverRainbow commented on #444
I am wondering whether it would be better to split the import parsers into a separate application, run from `ct_imports`. It would make it easier to unit test and provide a language independent interface for converting to cherrytree XML . I am thinking it might work something like:

Most things in `ct_parser` are moved into a separate binary which is built along with cherrytree. The things in `ct_

[2020-07-14 12:33] giuspen commented on #828
@ForeverRainbow I recently finished implementing an example of unit test that is asserting the data in the (cherry) tree after the document is read (also saved and re-read but this is not what I wanted to point you to).
This is not a requirement and I'm already infinitely thankful for the work you are doing, but if in future you would like to try and unit test an import, it should be quite simple

[2020-07-14 12:38] txe commented on #1008
I cannot reproduce the issue, I tried to put a content of `https://github.com/besimorhino/powercat/blob/master/powercat.ps1` into codebox, and creating pdf was just fine.
I think C++ version (0.99 alfa) shouldn't have that issue, but thanks to the big codebox, I found others to fix.

[2020-07-14 12:38] #1008 closed

[2020-07-14 12:43] ForeverRainbow commented on #828
@giuspen I will have a look at that, to make life easier we might make a subfolder until `tests/data` which has different formats which should produce the same data when imported and then just iterate through them all

[2020-07-14 12:43] txe opened #1012 "[CT-0.99] Big codebox breaks PDF Export"
Early version CT-0.99, PDF export doesn't split along codebox into several pages, though it works right in pygtk.
Current version CT-0.99, PDF export is hanging on a long codebox, I suppose, it's after last refactoring

[2020-07-14 12:45] txe commented on #1007
What OS do you use?

[2020-07-14 12:47] giuspen commented on #444
I thought about this when I wanted to reuse the python code to import. If I would not have had your help I probably would have opted for an intermediate conversion to cherrytree file document with python and then importing the cherrytree document into the (cherry) tree. At this point I'm not sure, frankly I haven't looked much at the import part. Unit testing is feasible already on the tree after

[2020-07-14 12:48] giuspen commented on #444
We could also use the python (converted to python3) for the remaining documents to import until and if we decide to convert to C++

[2020-07-14 12:50] giuspen commented on #828
@ForeverRainbow that is not possible because the external note taking app have only a subset of the features of cherrytree so I'm afraid we cannot use the same test for all

[2020-07-14 12:51] ciranus commented on #1007
Now Debian, or can be ubuntu (other partition).
But KDE on both (without any gnome at all: ie pure basic KDE).
The text editor result in OP is kate with markdown hightlighter activated.

[2020-07-14 12:58] ForeverRainbow commented on #444
@giuspen The python importer is quite heavily connected to the rest of cherrytree I think? The C++ version only uses `CtConfig` and only for knowing what type of bullet points to use. I wonder if it would be easier to convert it to python3 and separate it from the rest or to implement the missing importers in C++

[2020-07-14 13:03] giuspen commented on #444
@ForeverRainbow I have no doubt that ideally we don't want that python, it is just a workaround since the time it takes to do all of them is a lot, considering that the inefficiency of the importer does not have any impact on the normal cherrytree efficiency

[2020-07-14 13:09] txe commented on #444
I don't think that separating import code into a different application is improvement:
- current import classes can be already unit tested, they have a simple interface: input - paths; output - xml. If it is not much, it can be improved.
- an additional app can give troubles in distribution
- even to run and fix code is much simpler then it is one project

[2020-07-14 13:15] ForeverRainbow commented on #444
@txe It would still be in one project, and to "run and fix code" would be simpler since you could test the parsers with custom input data separately from everything else. The importer interface would remain the same, they would just call the binary to do the parsing instead of instancing classes. Troubles in distribution yes but if built as part of the same CMake system then it would be like the o

[2020-07-14 13:52] txe commented on #444
I think we can skip an additional abstraction layer if it doesn't resolve any real-world issue.

[2020-07-14 14:25] #1003 closed

[2020-07-14 14:26] txe commented on #1003
I updated the readme, thanks everyone for help!

[2020-07-14 14:35] giuspen commented on #1003
thanks @txe !

[2020-07-14 16:38] #1006 closed

[2020-07-14 16:40] #994 closed

[2020-07-14 16:52] txe commented on #967
Hi, I'm pretty sure that keeping dialog positions are not worth for many users because dialog appearing in the middle of the main window is standard behavior in UI. Also, it can be several monitors and several main windows, so keeping dialogs at the same position will give a lot of troubles for users while they move the main windows here and there.

The current dialog proportions are pretty useful

[2020-07-14 16:56] txe commented on #966
I suppose, the topic is concluded, so closing

[2020-07-14 16:56] #966 closed

[2020-07-14 17:42] mahdi1234 commented on #967
How about support for manually writing dialog proportions into config i.e. no autosave, but user could specify own dimensions? The thing is dialogs are resizable and thus I resize them and it's real UX bummer that everytime they need to be resized again. In particular "Choose existing tag" dialog is pain for me, try to fill it with like 30 tags or more (I have some 50 tags) and you always see only

[2020-07-14 17:47] giuspen commented on #967
I think @mahdi1234 you phrased the issue not correctly. It would make sense only in specific cases to remember only the size in my opinion. So the request for one dialog to save the size could be accepted unless just increasing s bit the size wouldn't already solve the issue

[2020-07-14 19:36] ForeverRainbow commented on #1012
@txe Yes I think this is my fault, I removed the code for splitting long codeboxes and tables I suppose I didn't put it back :p

[2020-07-14 20:11] DiagonalArg opened #1016 "Certain files, when attached, fail to display file names."
I've got an attachment named:

	GnuPG Key security generating & using SubKeys (blog.bravi.org).pdf

The name does not appear next to the paperclip icon, not even in some truncated or modified form

CT: 0.39.4, Ubuntu 16.04, SQLite backend.

[2020-07-14 20:25] ciranus commented on #1016
And without spaces, is it OK ?
`GnuPG_Key_security_generating_&_using_SubKeys_(blog.bravi.org).pdf`

[2020-07-14 20:27] DiagonalArg commented on #1016
Sure.  Just as long as there's something recognizable there.  Is that the issue?

[2020-07-14 20:32] DiagonalArg commented on #1016
Actually, it's not the spaces.  It's the "&" that's the problem.

[2020-07-14 20:38] ciranus commented on #1016
I never use spaces in filenames, and especially no '&' which is a very specific character
 (too ambiguous in command line).
If only '&' is your problem, is avoiding and replacing '&' by 'and' a problem ?

[2020-07-15 07:32] txe commented on #1016
@ciranus, it's still good idea to fix small things that break users workflow or make them confuse.

[2020-07-15 07:45] #1016 closed

[2020-07-15 09:16] ForeverRainbow commented on #1012
Actually I know exactly what this is, codeboxes and tables will try and move themselves to the next page if the current one cannot fit them, I think it should just print a pdf without anything after a too large codebox/table but if it hangs thats even more of a problem

[2020-07-15 10:09] #1010 closed

[2020-07-15 10:10] txe commented on #1010
I added a new toolbar element to split toolbars. You can find it in Preferences dialog, Toolbar, button Add

[2020-07-15 10:15] txe commented on #1010
I notice that you're using pygtk (0.39) version. I made changes in c++ (0.99) version. You can download it from https://www.giuspen.com/cherrytree/#downl, the next version will be 0.99.6

@giuspen , maybe we need more direct link to C++ version instead of saying "at the end of  download section"?

[2020-07-15 10:24] giuspen commented on #1010
@txe yes I'll add dedicated anchor

[2020-07-15 10:25] txe commented on #1010
Thanks!

[2020-07-15 17:34] ForeverRainbow commented on #828
@giuspen Surely general things like whether the hierarchy is right can be tested, then more complex ones like formatting and possibly widgets can be done with some sort of capabilities list

[2020-07-15 17:41] giuspen commented on #828
@ForeverRainbow the unit testing that I have done for the cherrytree document types is comprehensive of all the information that we are saving in the document but you don't necessarily have to cover all the content of the tree yourself, just few assertions can help to ensure that the import is still working if/when the code is modified in future, without need to manually re-test everything. Anyway

[2020-07-15 18:22] giuspen commented on #1010
@txe https://www.giuspen.com/cherrytree/#testing the last packaged version 0.99.5 does not include yet the double toolbar which will be in 0.99.6

[2020-07-15 18:36] ForeverRainbow commented on #828
I just looked over the NoteCase and Rednotebook HTML. In order to preserve the node hierarchy and not just put it all in one node some custom parsing will have to be done.

Rednotebook HTML is mostly simple with nodes being split by `<span>` tags with `id` set to a date format which could be matched.

NoteCase actually has 4 different formats, with the "lite" (free) version only being able to save

[2020-07-15 18:59] giuspen commented on #828
Years ago there was notecase free and the document type was .ncd which was an html enriched with also info about the hierarchy and serialised images saved in it. I would not supported importing from the notecase pro but from the free version as the Pygtk2 version.

[2020-07-15 19:06] ForeverRainbow commented on #828
@giuspen Yeah, `ncd` now requires a pro license (although mine seems to have a bug, it warns about needing a pro license yet saves the file xD). The `ncd` format is almost identical to the exported HTML however, minus the creation date (actually it looks a lot easier to parse since it doesn't use comments).

[2020-07-15 19:32] giuspen commented on #1012
If a table or codebox is too big for a page it can try and start from the subsequent page if it fits but otherwise should split, at least this is what the Pygtk2 version does, supporting also split on N pages. Both the table and codebox make sense to be longer than a page and we don't want to drop data. I'm not understanding if this was working before @ForeverRainbow rework or not. I can also have

[2020-07-15 21:06] txe commented on #1012
I don't know if it worked before.
I'll take a look at this issue, anyway I wanted to make some changes there.

[2020-07-15 21:08] giuspen commented on #1012
Ok thanks @txe !

[2020-07-16 09:17] ForeverRainbow commented on #1012
@txe I was going to look at this but if you are, splitting it over multiple pages should be easy because `print` will keep getting called on a printable until it sets `_done` to true so you can just keep printing the bits which are missing as long as you like

[2020-07-16 09:19] txe commented on #1012
It's too much broken, @ForeverRainbow, can you fix it all and check other things?
- document with one empty node, options: All Tree, Include Node Name. Result: generate 3 pages
- document with 2 empty nodes, options: All Tree, Include Node Name. Result: generate 3 pages, only one name
- document with 2 empty nodes, options: All tree, New Node on New Page. Result: only one page

[2020-07-16 12:42] ForeverRainbow commented on #1012
I think the pages problem is due to the floating point arithmatic used to calcuate the number of pages. When testing with ~400 nodes it started to get noticable with 3 pages missing (if I switch out `fmod` for `remainder` it produces 100 more pages than needed)

[2020-07-16 13:33] gnozil commented on #999
Whatever you call it systray or other name such indicator, python version will put an icon in topbar nearby battery and date time icons, C++ version not.

Do not understand what do you mean "there is already global menu bar", unity of course has global menu bar. My question is CT menus only display in its own window, not in global menu bar.

[2020-07-16 14:22] txe commented on #999
Maybe Ubuntu 19 Unity had a system tray and it worked. Maybe it was some plugin to support a system tray.

In Ubuntu 20 Unity there is no system tray. There is something that looks like a system tray, but it is just widgets and not app indicators.
Ubuntu 20 Unity + python cherrytree 0.39, I tried to turn on the systray option, here screenshot:
![Screenshot from 2020-07-16 17-03-46](https://user-im

[2020-07-16 19:41] giuspen commented on #1012
@ForeverRainbow if you are in difficult with this issue don't worry you can pass me the ball and I'll take it from here

[2020-07-16 20:02] ForeverRainbow commented on #1012
@giuspen I've fixed all the issues above and the problem with page number generation. I am going to have a look later at fixing page breaks since they are still broken (it is only noticeable with a few hundred pages+). Also it seems the python version cannot handle documents of a few thousand or more pages, it gives an error (I assume it runs out of memory or something)

Thanks for the offer tho :

[2020-07-16 20:13] giuspen commented on #1012
@ForeverRainbow well done thanks 😉

[2020-07-17 15:40] ForeverRainbow commented on #393
I like the idea of plugins. For the C++ version there is: https://developer.gnome.org/glib/stable/glib-Dynamic-Loading-of-Modules.html which looks good. Only problem is plugins would have to be written in C (or at least the interface).

Also there is the question of what API cherrytree would actually expose. What would plugins have access to, what would they be able to do, etc.

I think a prime ta

[2020-07-17 16:26] TomNUE commented on #375
Same problem with last testing version 0.99.5 on Linux Mint 20 Cinnamon. Keep the fingers crossed, that its fixable with less effort

[2020-07-17 16:29] txe commented on #375
If you describe how to reproduce your problem, then I can fix it.

[2020-07-17 16:31] #1012 closed

[2020-07-17 16:38] TomNUE commented on #375
Just clicking on the Button: search in all nodes (using in German, in allen Knoten suchen). After typing the search-criteria and click on Enter Cherrytree is closed

[2020-07-17 18:03] ForeverRainbow commented on #444
@giuspen I did want to say, I noticed you use alien to generate the rpm's, I haven't used alien but I am on fedora so I can generate them natively if that helps (I locally build each release rpm and install it manually anyway :p).

[2020-07-17 18:19] giuspen commented on #444
@ForeverRainbow thanks I will keep it in mind, the thing is in fedora there is not an LTS strategy so there would be multiple versions to cover am I right?

[2020-07-17 18:30] ForeverRainbow opened #1021 "Node syntax highlighting for C++ version"
Hi
When selecting syntax highlighting for a node in the C++ version, most languages seem not to have an implementation (they are set to `ct_code` no matter what). Only ones with an icon actually work. This is weird because they seem to work in code boxes (have only tried `json` and `css`) so the implementation is there, just doesn't seem to have been connected to the nodes.

I am guessing this is

[2020-07-18 05:31] bettencb commented on #328
I've been completely and totally obsessed with cherry tree since the very first time I downloaded it! If there was an android version released it would slayyy!!! Flutter might be a good option to get cherry tree working easily in multiple frameworks?

[2020-07-18 13:41] ForeverRainbow commented on #444
@giuspen I could only build packages for x86 64bit and whatever the latest version of fedora is (currently 32), but it would probably be better than whatever alien produces. Fedora only provides maintenance for ~13 months so yeah no LTS but also no need to package for systems older than that time frame (since people will not be using fedora unless they are preprepared to update to the new releases

[2020-07-18 14:04] giuspen commented on #444
@ForeverRainbow thanks I will write you an email when I issue a new version so you can package on fedora for me. I did not plan to use alien for the C++ version anyway because the dependencies are much more important than with the python version so hardly a package for a distro is good for another.

[2020-07-18 19:27] metal450 commented on #849
Hey @txe & @giuspen,

Alright, I went ahead & implemented this on my own - will submit a PR in a moment! :)

I added 2 new controls, "indent" & "unindent," with keyboard shortcuts Ctrl+Shift+> and Ctrl+Shift+<.  Pressing them repeatedly increases & decreases the indent of the current paragraph.  It seems to be fully working on my end, with two caveats: I didn't implement importing/exporting (i.e.

[2020-07-19 08:17] gerdeg opened #1023 "[0.99.5 in Kubuntu 20.04] F2 function 'Use selected color' cannot be deselected / stays selected"
1/ F2 function 'Use selected color' cannot be deselected / stays selected.
2/ Undo does not work on changes in the tree

Ger de Gooijer

[2020-07-19 12:12] giuspen commented on #1023
The undo machine is not supporting undoing changes to the tree at the moment, same as it was for the Pygtk2 version. F2 is to open the node properties dialog, isn't it?

[2020-07-19 12:52] gerdeg commented on #1023
Yes, it is. Or you right-click for Change Node Porperties of course.

[2020-07-19 13:07] petrisch opened #1024 "Feature Request: Make the app scalable for phosh / mobile linux"
Its maybe out of the scope, but wouldn't it be nice to have cherrytree on a phone?
Since mobile linux is in its early stages this can be a long run to go.

Here is how fare I came:
[cherrytree on the pinephone ](https://petrisch2.duckdns.org/apps/cms_pico/pico/pinephone/cherrytree)
I guess the main window has its fix sice, that wouldn't scale.

The shortcuts to disable the treeview (F9) doesn't wo

[2020-07-19 13:22] giuspen commented on #1021
I can see the issue, I'll have a look thanks @ForeverRainbow

[2020-07-19 15:01] #1021 closed

[2020-07-19 18:06] ForeverRainbow commented on #828
I will look at Rednode format next. Btw I think #393 would be a great idea for allowing customisation of import/exporting, but I don't have any experience with plugin systems in C++ and I doubt it will be simple

[2020-07-19 19:34] giuspen commented on #828
@ForeverRainbow I don't have experience with plugins systems as well, we'll get back on that later

[2020-07-19 19:59] giuspen commented on #375
Could you create a test cherrytree document where you can reproduce the issue, share it with us and tell what to search for?

[2020-07-20 02:10] bencrbcp commented on #425
This would singlehandedly get me to switch over to Cherry Tree fully, honestly <3

[2020-07-20 04:12] gnozil commented on #999
Thanks @txe , and synced to 0.99.6, and also tweaked my ubuntu, the global menu works, and also the 2nd instance will show window corectly.

One small issue is the icons for global menu items are still broken

![image](https://user-images.githubusercontent.com/1411824/87898931-2dbad680-ca82-11ea-8edb-8da30c14f0c6.png)

[2020-07-20 13:16] ForeverRainbow commented on #425
This kind of thing is usually implemented via plugins (at least in every editor ive ever used except vim :p) #393 is a request for plugin support which I like the idea of, but I don't think plugins are coming soon if they are coming

[2020-07-20 14:39] chadfurman commented on #425
Yes!  Thanks for the link.

So maybe we can talk about what a vim plugin would need out of the box to be useful.  Can we plug neovim in somehow?  The image rendering in the main window would be a fun trick.

Let's assume the plugin interface exists and does what we need to accomplish what we want -- now let's talk about what we want

[2020-07-20 14:44] chadfurman opened #1025 "Roadmap / milestone"
I'm considering contributing but I don't see a roadmap.  Consider taking a day (an hour?) and putting one together either on Trello or using some of the new GitHub project stuff

Then document it in the readme for others with this q

[2020-07-20 14:44] chadfurman commented on #1025
Is it this?  https://github.com/giuspen/cherrytree/issues/828

[2020-07-20 14:49] chadfurman commented on #828
I've experience using Lua scripting in C (Janus Gateway), and generally you just have to add hooks to the code for the things you want plugins to be able to do.  Specifically, if you want them to swap out the editor for example you need to define an interface with the editor module then drop the module in place and check the plugin registry for anything that hooks the module, pass the editor modul

[2020-07-20 15:12] davehouser1 commented on #425
I would say the same thing that "set -o vi" provides in ~.bashrc would be a
start. I also know that notepad++ has a vim plugin that works fairly well
if you want to imitate it's behavior.

On Mon, Jul 20, 2020, 10:40 AM Chad Furman <notifications@github.com> wrote:

[2020-07-20 17:17] chadfurman commented on #828
https://github.com/notepad-plus-plus/notepad-plus-plus/tree/master/PowerEditor/src/MISC/PluginsManager  could be useful inspiration for a plugin manager

[2020-07-20 17:17] giuspen commented on #999
It's expected that the icons won't work because are embedded into cherrytree and not installed in the icon theme. Maybe we should install also the icons to be accessible from outside cherrytree.
Can you try to create a folder /usr/share/icons/hicolor/scalable/cherrytree and copy there all the *.svg files from https://github.com/giuspen/cherrytree/tree/master/future/icons and report if then the ico

[2020-07-20 17:23] giuspen commented on #1025
We are testing and completing what is still missing from the PyGtk2 version which is not much. Difficult to time the release since the free time is not predictable but definitely before the end of the summer.

[2020-07-20 18:14] ForeverRainbow commented on #828
Interesting. So it uses a C interface and passes function pointers across the ABI gap, then exposes a struct which provides information like name, and what its shortcuts are?

Also seems to have an event system and such, sigc++ may provide an easier way to implement these than by hand but I'm just thinking out loud now :p

[2020-07-21 15:53] ciranus commented on #1004
For info, bug precisely described in first post ("Clicking “Help » **About » Website**” will not open in KDE default browser,") is still open for 0.99.**6**-1.deb.
(_minor issue, may be only in my light KDE environment_).

[2020-07-21 16:16] txe commented on #1004
I'm surprised, it's using `xdg-open` so it should work fine.
I will trying it on KDE.

[2020-07-21 19:58] ciranus commented on #1004
To be even more precise, what is really really strange is that the link "Help > **Online Manual**" works perfectly.

[2020-07-21 20:06] txe commented on #1004
Ah, I got it, thanks.
This part is handled by Gtk, but the behavior can be overridden, I'll fix it right now.

[2020-07-21 20:16] metal450 opened #1027 "File Attachment Type-Based Icons"
Currently, all file attachments show as a "paperclip" icon.  In OneNote, I find it very handy that the attachment icon reflects the system icon for that filetype - for notes that contain many attachments, it makes it much easier to tell at a glance which is which.  Here's an example:

![2020-07-21 13 12 31](https://user-images.githubusercontent.com/1877409/88102156-f3216e80-cb53-11ea-9a4d-665a7e89

[2020-07-21 20:27] #1004 closed

[2020-07-21 20:49] txe commented on #1027
It's pretty simple to get a file-type icon, an example from python
[code]

The small issue, we don't save  a "paperclip" icon in db/xml, so we need to change db/xml format to support that feature.

[2020-07-22 07:17] metal450 commented on #1027
Well, if the file format would need to be changed - perhaps an easier alternative would actually be to just display the icon from the current system?  I can't really think of any downside, except for maybe once there's an Android client it wouldn't be able to figure out icons for PC filetypes

[2020-07-22 09:10] metal450 commented on #1027
Got a rough draft of this working :)

![2020-07-22 02 09 25](https://user-images.githubusercontent.com/1877409/88158071-6d87d800-cbc0-11ea-81d6-8cb17376af57.png)

[2020-07-22 09:27] txe commented on #1027
Yeah, it can be done.

[2020-07-22 11:10] ivan-vasilich opened #1029 "Links in Russian do not work, files in Russian do not open"
Sorry for the bad english, i use google translator (i am russian)

CherryTree is a great product. Thanks to the developers.

I switched to C ++ version 0.99 because there were copy and paste issues with hotkeys [802](https://github.com/giuspen/cherrytree/issues/802)
Thank you! Copy and paste with hotkeys works fine.

### In version C ++ 0.99, the following problems were found that prevent it from

[2020-07-22 14:57] gnozil commented on #999
@giuspen , I did that and unfortunately it does not work.

[2020-07-22 15:54] txe commented on #999
Inkscape (or it was Gimp) uses the same code as we to generate menu with icons. We can check if they have the same issue or not, and if not, we can figure out how they avoided the issue.

[2020-07-22 16:47] ciranus opened #1030 "[0.99.6-1.deb] Color file-picker"
The color file-picker icon which is proposed in the font custom color panel has no effect, at least in linux/KDE.
Then maybe better remove it until problem identified ?  (...not a key feature).

[2020-07-23 04:37] metal450 opened #1032 "msys2_prepare_standalone only works in hardcoded path"
It looks like future/scripts/msys2_prepare_standalone.sh only works if you move your cherrytree into the hardcoded path:  `~/git/cherrytree`. Otherwise, it fails (cannot find files).

As I'm building on a shared drive (from within a VM), this requires moving the files back & forth to that location each time I want to build.  Better if the script just worked relative to whichever path it's run from

[2020-07-23 05:28] metal450 commented on #1032
Also: after moving it to ~/git/cherrytree & building, it did complete without any errors & produce a cherrytree__win64_portable folder on the desktop - however, cherrytree.exe fails to run.  Double-clicking it doesn't show an error, just nothing happens.  i.e. it seems like maybe it just launches & immediately terminates without showing a UI.

[2020-07-23 07:02] metal450 opened #1033 "C++: Crash When Pasting HTML"
Testing out 0.99.6-1 on Kubuntu 20.04, I was able to make CherryTree crash by pasting some HTML to the UI.

The Html is attached.  It's useless content - I was having some other copy/paste issue, so I just grabbed some random text from the GMail page I had open in Firefox & discovered that pasting it caused CT to immediately crash.

To reproduce: open (view) the attached file in Firefox, select-al

[2020-07-23 08:03] ciranus commented on #1033
I confirm.
Copy test made from firefox-78esr to CT 0.99-6.1.deb in Debian KDE environment.

[2020-07-23 11:10] ForeverRainbow commented on #1032
@metal450 Looking at the script its a hardcoded path:
<https://github.com/giuspen/cherrytree/blob/b6ad426cbabda9004e4ce8a67f90d0420a1d8ad8/future/scripts/msys2_prepare_standalone.sh#L7>
and then cd into it (which is the part I assume fails): <https://github.com/giuspen/cherrytree/blob/b6ad426cbabda9004e4ce8a67f90d0420a1d8ad8/future/scripts/msys2_prepare_standalone.sh#L27>

Should be pretty easy to

[2020-07-23 15:27] metal450 commented on #1032
Yup, was just submitting it as a suggestion for the authors - so it will also be easier/clearer for others to build in the future :)

[2020-07-23 18:12] giuspen commented on #1032
cherrytree__win64_portable is because of an issue, I'll fix this and also see at the hard coded path

[2020-07-24 04:25] metal450 commented on #1032
I saw that there was a commit related this, but the behavior seems the same on my end - I get that folder on the desktop where launching Desktop\cherrytree_0.99.6_win64_portable\mingw64\bin\cherrytree.exe has no response (aka nothing happens / nothing launches).  Or was that a different fix to the script, & it hasn't been addressed yet?

[2020-07-24 08:40] ForeverRainbow commented on #1030
See: #896 its not yet implemented

[2020-07-24 12:12] ciranus commented on #1030
It does not look obvious at all that #896 has something related to a **color-picker** feature, but if you mean the root cause is the same, it's fine, we'll see.
Let's say... to be confirmed.

[2020-07-24 12:37] giuspen commented on #1032
@metal450 if you run ./build.sh from inside the msys2 terminal does it build properly? If you then run ./build/cherrytree.exe still from the msys2 terminal is it opening correctly?

[2020-07-24 13:07] txe commented on #1029
Thanks for the issues!
I only cannot reproduce the last issue. I created nodes as on the screenshot and they are OK. Can you try it again with a fresh file or a default config file (keep the copy of old ones just in case)?

@giuspen , looks like C++ streams don't understand unicode filenames on Windows. Changing locale doesn't help at all. So options are to convert unicode into something else (I d

[2020-07-24 13:27] giuspen commented on #1029
I don't like streams @txe

[2020-07-24 15:23] ForeverRainbow commented on #1029
@txe std::ifstream on windows has an overload for `wchar_t*` as its input file which will handle these properly. `std::ifstream` has an overload for `std::filesystem::path::value_type*` which is `wchar_t*` on windows. So another option would be to either use `std::filesystem` (or another standard conforming implementation) or change `fs::path` to return `std::wstring` on windows (which has an over

[2020-07-24 15:29] ForeverRainbow commented on #1030
Ah right sorry, didnt realize what you meant. I would guess they have the same root cause of not being implemented as part of the whole theme stuff yet

[2020-07-24 15:50] ForeverRainbow opened #1035 "Ubuntu 18 packages do not meet version requirements (C++)"
Hi
Ubuntu 18 lacks the packages required to build cherrytree from source. Most notably it lacks cmake 3.13.2 (I built 3.18 from source to get around this) and glibmm-2.4 is v2.56.0 (minimum is 2.64).

I am wondering whether these are arbitrary version limits since 2.64 is not required for gtkmm3 (afaik 2.64 is actually for gtkmm4) and is the latest stable release. Also the cmake file doesnt look l

[2020-07-24 16:00] ForeverRainbow commented on #1032
@giuspen this: https://github.com/giuspen/cherrytree/blob/582df01d2d2d6a323848213b36e6060e71e29002/future/scripts/msys2_prepare_standalone.sh#L6 is the problem I think. Its hardcoded to expect cherrytree to be at `~/git/cherrytree` which is why it fails when its not

[2020-07-24 16:18] ciranus commented on #1035
Current Ubuntu LTS is **20** not 18.
[cmake (**3.16.3**-1ubuntu1) ](https://packages.ubuntu.com/focal/cmake)

[2020-07-24 16:26] ForeverRainbow commented on #1035
@ciranus Thanks, I know that the latest is 20. But ubuntu 18 will be supported for another 3 years still and unless these package versions are actually the minimum required then there is no reason why it shouldnt build on 18.

When I said "the latest stable release" I was talking about glibmm (2.64 is the latest stable, 2.65 the latest unstable)

[2020-07-24 16:28] metal450 commented on #1032
Yup, that builds & runs fine.  I was trying to produce a standalone build, to run from outside the terminal, which is what I couldn't get to happen.

[2020-07-24 16:29] ciranus commented on #1035
I wonder why you don't want to upgrade to 20-LTS. Don't see any problem.
You can at least add focal to sources.list, and install the packages you need from focal.
Well, it's up to you....

[2020-07-24 16:36] ForeverRainbow commented on #1035
@ciranus Doing a full system upgrade to build a single application? (Oh yeah _thats_ why I switched to fedora lol) in all seriousness I could just change the versions in the cmake file, when I have a minute I will so I can test what the minimums actually are. This issue is more just making people aware of this and a possible reference for a fix later.

Also packages have to be built on the oldest

[2020-07-24 16:38] giuspen commented on #1032
@ForeverRainbow that is only a building location issue, I'll fix anyway
@metal450 it is really strange, could it be your antivirus?

[2020-07-24 16:42] ciranus commented on #1035
Cherrytree is available for old **bionic**, then really not a problem
https://packages.ubuntu.com/bionic/cherrytree

Why would you need a specific gtk3 release for bionic is not clear to me.
I'm just afraid you are looking for unnecessary complexity.
Only my 2 cents.

[2020-07-24 16:55] metal450 commented on #1032
Nope, I actually did try disabling it.  And it's the built-in Windows Defender anyway, not 3rd party.  It is strange, as the .7z downloaded from giuspen.com works fine.

[2020-07-24 17:09] giuspen commented on #1032
@metal450 there is an option -mwindows somewhere in a CMakeLists.txt for Windows only builds, if you comment that out then your cherrytree.exe will start with a windows terminal and print out, or your can run it from a windows terminal and see some feedback

[2020-07-24 17:15] giuspen commented on #1035
Glib/Glibmm requirement is for a useful method to canonicalise the filepaths being used in cherrytree.
I will build the Gtkmm3 version also into flatpak when it will replace the Pygtk2 version so that will run everywhere including 18.04.

[2020-07-24 18:29] metal450 commented on #1032
I don't see any occurrence of "mwindows" in "C:\msys64\home\Metal450\git\cherrytree\future\CMakeLists.txt"

[2020-07-24 18:54] MJimitater commented on #1035
@ciranus actually I have an old laptop running Ubuntu 18.04. and it is not my intention to upgrade to 20.04., and I would very much appreciate the C++ version of CT on it. I actually did encounter this same building error, thanks for pointing out this issue @ForeverRainbow. A flatpak version will of course be sufficient for any distro

[2020-07-24 19:09] ForeverRainbow commented on #1035
@giuspen Yes I ran into that problem when trying it.

Also gtkmm 3.24 is needed for `FileChooserNative`, it could just be replaced by `FileChooserDialog` with a macro but if flatpak is going to be used anyway then not much point :p. I think `>=3.24` should be put on gtkmm in the cmake file though.

[2020-07-24 20:24] ForeverRainbow commented on #1035
glibmm 2.64 is dated 2020-03-17 (from [gnome sources](https://ftp.acc.umu.se/pub/gnome/sources/glibmm/2.64/)) so I assume it may also be an issue on older versions of mac or anything which doesn't do cutting edge.

There are things like snap for mac which would work but it seems kinda silly that we need such a new version for a single function (a function which is defined in the `filesystem` stand

[2020-07-24 22:17] giuspen commented on #1032
https://github.com/giuspen/cherrytree/blob/master/future/src/ct/CMakeLists.txt line 90

[2020-07-24 23:31] metal450 commented on #1032
Alright, built it with that commented out & then ran from cmd.  It does indeed start & immediately terminate; here's the errors:

[code]

I tried deleting those icon files, but the same error would just pop up for a different icon file.

[2020-07-25 02:09] metal450 commented on #1032
Note: I also tried the build in another copy of Windows; it exited with the same error.

[2020-07-25 08:44] ivan-vasilich commented on #1029
On issue 3 (in response to "I just can't reproduce the latest episode.")

1) In response to "Can you try again with a new file ...?"
Made: "File - New Window". For the experiment, I created 5 notes in Russian. The result of the experiment in the table
![1](https://user-images.githubusercontent.com/65276008/88452967-2c781800-ce8d-11ea-9bfd-9ec980028225.PNG)
![2](https://user-images.githubuserconten

[2020-07-25 09:09] txe commented on #1029
Oh, now I can reproduce it, thanks!

[2020-07-25 11:39] ivan-vasilich opened #1037 "Add functions for working with tables"
I'm using C ++ version 0.99

I could not use tables in my work due to the lack of the required minimum of functions.

Required minimum functions:
• Insert a column
• Ability to paste text from the clipboard into a table cell
• Ability to pick up text from a table cell to the clipboard

Additionally:
• Make the column name "click me" without a space (eg ClickMe). So it is more convenient to select

[2020-07-25 11:51] ivan-vasilich opened #1038 "Close window without creating file"
I'm using C ++ version 0.99.

• Doing: "File - New Window". Create a note
• I don't want to save to a file (I did it for testing)
• I exit "File - Exit" or press X (Close window)

Prevents exit without saving the file.
• Have to make an unnecessary file
• Then exit and delete this file

[2020-07-25 12:57] ciranus commented on #1035
If you allow me one more comment to better explain what I had in mind...
GTK history:
- GTK+ 1 : 1998
- GTK+ 2 : 2002
- GTK+ 3 : 2011
- GTK+ 4 : 2020 / see [GTK4 News](https://www.phoronix.com/scan.php?page=search&q=GTK4) or [GTK+ 4 Reference Manual](https://developer.gnome.org/gtk4/)

CT-gtk3 has been let's say "_a bit delayed_", and CT has been removed from all distribution current repositories.

[2020-07-25 13:21] giuspen commented on #1032
"Most likely gdk-pixbuf does not provide SVG support" - Our icons are ALL SVGs. Very strange, I'll check if there is a particular package that you may be missing for the SVG support.

[2020-07-25 13:42] ForeverRainbow commented on #1035
@ciranus I agree that functionality should not be waved because it would require a newer system. Feel free to checkout my proposed changes, they involve two encapsulated macro checks and moving a line from `future/CMakeLists.txt` -> `future/src/ct/CMakeLists.txt`. If you feel that is too much please comment on them and tell me how/if they can be improved.

[2020-07-25 13:44] ciranus commented on #1038
I have hesitated few days ago to open an issue related to this one, but here is my experience formulated differently.
I wanted to open a new instance just for test purpose, with no intention to save it.
The only way to quit without saving was to **kill** the application, which is not very clean.
I would have expected something like...
"_Do you really want to quit without saving ? yes/no_"

[2020-07-25 13:51] ciranus commented on #1035
It is absolutely not up to me to decide anything related to the code: it's up to the code owner !!
If giuspen says its' fine, then it is !
Consider just my comments as background feeling related to CT timeframe, between gtl**2** and ... gtk**4**.

Why is it a problem for someone writing code to have the right tool and the right libraries is still not clear to me, but again, not the debate here.

[2020-07-25 13:53] giuspen commented on #1037
You can already insert a column currently right clicking on any cell other than an header cell
You can already ciopy and paste with Ctrl+C/Ctrl+V (there is not a dedicated menu item)
The "click me" with the new implementation of the tables will eventually go.
In my opinion (to agree with @txe) we will allow to right click on any cell without distinction header or not and you will be able to add a

[2020-07-25 14:03] #1035 closed

[2020-07-25 14:21] giuspen commented on #1035
@ciranus I actually very much agree with your analysis , the future version is very much oriented to the future and I would not have spent time myself on making it build on older systems. On the other hand, I think that @ForeverRainbow made a nice job which would be a shame to bin because some people for various reasons stuck with an older system can now test and contribute without the need of the

[2020-07-25 14:27] giuspen commented on #1035
@ForeverRainbow since you made this good work I think it would be a good idea to also edit https://github.com/giuspen/cherrytree/blob/master/.travis.yml to build also bionic in parallel to focal

[2020-07-25 14:33] giuspen commented on #1035
BTW it should no longer be necessary to download and rebuild cmake:
[code]

[2020-07-25 16:35] ForeverRainbow commented on #1035
@giuspen Is there a reason that the apt packages are installed via a script rather than with the `apt` addon? Wondering if I should change that is all

[2020-07-25 16:42] giuspen commented on #1035
@ForeverRainbow I don't think so, we are not experts in Travis CI you are free to experiment all we care is that it builds and runs the unit tests

[2020-07-25 16:53] ForeverRainbow commented on #1035
@giuspen I think I will not mess with it xD, if it works it works

[2020-07-25 18:25] ForeverRainbow commented on #996
I successfully got this working earlier btw, it is basically just a translation of the install guide in `/future` that just installs those packages for the users system automatically (and uses a package for `cpputest` so it doesnt have to be built from source manually). I have it here: https://github.com/ForeverRainbow/cherrytree/blob/master/future/conanfile.py if anybody wants to check it out, it

[2020-07-27 05:15] ivan-vasilich commented on #1038
I created this topic as I created many windows to describe the problem for another topic. I think this needs to be fixed.

Yes, so good: "Do you really want to exit without saving? Yes / No"

[2020-07-27 05:40] ivan-vasilich commented on #1037
Insert a column by right-clicking in the header cell - yes, it works. It should be done so that the insert is in any cell.

Copy and paste using Ctrl + C / Ctrl + V - doesn't work for me.
Ctrl + C - does not take text from the cell to the clipboard.
Ctrl + V - inserts text not into the cell, but to the right of the table.

[2020-07-27 09:22] #1038 closed

[2020-07-27 09:24] txe commented on #1038
Fixed, it actually worked, just option "AutoSave" caused this issue.

[2020-07-27 10:03] txe commented on #1037
@ivan-vasilich, about Ctrl+C/Ctrl+V issue. I have no idea why it doesn't work in your case.
To be sure,
to use Ctrl+C: select text in one cell, press Ctrl+C
to use Ctrl+V: put cursor in one cell, press Ctrl+V

I tried it on Linux and Windows and it just works in both cases.

[2020-07-27 10:31] #1033 closed

[2020-07-27 10:31] txe commented on #1033
Thanks, I fixed the issue

[2020-07-27 10:55] txe commented on #1030
The screenshot is really helpful. This color-picker feature exists only on KDE systems, on XFCE/linux or windows there is no such button.
So far, I could manage to find something about the issue on [kubuntu forum](https://www.kubuntuforums.net/showthread.php/76021-Gimp-2-10-8-color-picker-issue). I don't see any options to turn it off or fix it.

[2020-07-27 10:56] ivan-vasilich commented on #1037
Dear TXE.

I am sure, since I have been using Ctrl + C / Ctrl + V in my work for more than 20 years, I use them unconsciously. I checked it again in a new window. The result is the same:

* Ctrl + C - does not take the text from the cell into the buffer (I checked it like this: I inserted Ctrl + V into the txt file, there is no value from the table cell in the buffer).
* Ctrl + V - inserts the val

[2020-07-27 11:08] ivan-vasilich commented on #1037
There seems to be a problem with my settings. Now I'm doing experiments.

[2020-07-27 11:27] ivan-vasilich commented on #1037
This I created the problem Ctrl + C / Ctrl + V. I set the settings:
* Copy without formatting - Ctrl + C
* Paste without formatting - Ctrl + V.

I replaced the settings with Ctrl + Shift + C and Ctrl + Shift + V respectively. Copy and Paste (Ctrl + C / Ctrl + V) works fine now.

TXE, thank you.

[2020-07-27 12:53] ciranus commented on #1030
If it can help later, this is the message I get:

[code]

Just in case it can help later on.
Minor issue.

[2020-07-27 16:22] txe commented on #1030
Yeah, thanks,
Actuall

[2020-07-27 16:32] txe commented on #1030
Yeah, I took a look at other warnings in console, the important one is
```the GVariant format string '(u)' has a type of '(u)' but the given value has a type of '((u))'```

Actually, GIMP uses controls similar to Gtk and had [the same issue](https://gitlab.gnome.org/GNOME/gimp/-/issues/1878) and [the fix](https://github.com/GNOME/gimp/commit/b29d1ea6ff0dec77cfd206049ef88353e09abbe0) for it.

There

[2020-07-27 16:41] txe commented on #30
Closing, it's not actual with gtkmm version

[2020-07-27 16:41] #30 closed

[2020-07-27 16:42] txe commented on #29
Closing, it's not actual with gtkmm version

[2020-07-27 16:42] #29 closed

[2020-07-27 16:44] txe commented on #138
Closing, table row copy-paste works find in gtkmm version

[2020-07-27 16:44] #138 closed

[2020-07-27 16:49] #1037 closed

[2020-07-27 16:54] txe commented on #1037
I did the following things:
- removed "Click Me" in table header
- popup menu is now the same for header or ordinary cell, so adding new columns is possible from any cell

I still don't why Ctrl+C\V don't work in some cases. if I could repeat it, I would fix it.

`Formatting text in a column (left, right, center)` cannot be done for now, though it's possible, it's a lot of work and maybe break bac

[2020-07-27 17:36] ciranus commented on #1030
Hummm... in fact I've never used gnome, and don't use gimp at all.
I am not sure to be very welcomed @ gitlab.gnome.org as a KDE user.
From my point of view, this is minor, it was just a warning in case of potential interest.
I even don't know what this color-picker is supposed to open, and totally don't understand how this icon can be visible in KDE environment only.
It's all I can do to help on

[2020-07-27 17:44] txe commented on #1030
gnome will welcome it:
- code from `gtkcolorpickerkwin.c `, kwin` means KDE windows, so it's a widget specially made for KDE window system.
- they don't a lot of people to test and then to fix issues, so to get an issue and the fix for it (to change a couple of symbols) at once should be appreciated.

But it's up to you, closing this.

[2020-07-27 17:44] #1030 closed

[2020-07-27 18:18] pedroflor commented on #372
Hi @giuspen!
Do you have news for this issue?
Would be great to know where to touch in the code.

[2020-07-27 20:19] giuspen commented on #372
OK I'll add the possibility to configure the font for the text tagged monospace

[2020-07-27 20:32] giuspen commented on #1032
@metal450 if you copy cherrytree.exe built by you into the portable bundle downloaded does it work? If yes, can you compare with https://sourceforge.net/projects/kdiff3/files/latest/download the bundles generated by you and downloaded to see if any file exists in one and not in the other?

[2020-07-27 20:56] pedroflor commented on #372
Thank you so much!

[2020-07-27 21:14] metal450 commented on #1032
Yup, that works

There are a whole bunch of diffs (note: I use BeyondCompare as my recursive diff app, but same deal).  If I ignore any files ending in .cache and only look for non-existence (i.e. not differences of content), the biggest thing missing is mingw64/share/mime.  Downloaded on right, built on left: https://lnk2.tk/snaps/2020-07-27_14.13.32.png

[2020-07-27 21:15] metal450 commented on #1032
Also mingw64/etc/xml/ is missing

[2020-07-27 23:46] metal450 commented on #1032
Incidentally: fwiw, the only reason I'm kinda struggling with this is to try & get a Windows build with indentation running, but I think 0.99.7 is about up today? In which cases I wouldn't have an immediate need to build in Windows, could continue testing in Linux.  Just trying to get a Windows build w/ indentation, & that's about it ;)

[2020-07-28 02:58] metal450 opened #1044 "C++ Richtext Paste Regression Since 0.99.6"
In 0.99.6, I was able to paste formatted text into RichText nodes with the formatting (including size & highlights) preserved.  However, if I build from the current master (on Linux), small text & highlights no longer seem to get pasted through.  Here's a screenshot of some pasted formatted text in 0.99.6:

![2020-07-27 19 54 57](https://user-images.githubusercontent.com/1877409/88613875-52dfb400-

[2020-07-28 06:01] ciranus commented on #1044
For info, I cannot reproduce your problem with [cherrytree_0.99.6-1_amd64.deb](https://www.giuspen.com/software/cherrytree_0.99.6-1_amd64.deb) from giuspen.com.

No problem seen with copy/paste of highlighted or small font text.

[2020-07-28 06:03] metal450 commented on #1044
The issue is in the current master, not the builds on giuspen.com.  You have to build from source.

[2020-07-28 06:10] ciranus commented on #1044
Yes but first... are you 100% you don't cut or copy as **Plain text** ?

[2020-07-28 06:19] metal450 commented on #1044
Yes.  Bold/italic/strikethrough/large would not come through if it were plaintext.

[2020-07-28 06:21] ciranus commented on #1044
In which environment are you building ? (Debian / Ubuntu / Release ?).

[2020-07-28 06:25] metal450 commented on #1044
Ubuntu (specifically, Kubuntu).  Just git clone, open "future" in VS Code, build, and run.

[2020-07-28 06:27] ciranus commented on #1044
Which [k]ubuntu  ? bionic ? eoan ? focal ? groovy ?

[2020-07-28 06:30] metal450 commented on #1044
20.04 Focal

[2020-07-28 06:45] ciranus commented on #1044
If this feedback can help for investigation, I don't know:

` dpkg -l build-essential libxml2-utils cmake libgtkmm-3.0-dev libgtksourceviewmm-3.0-dev libxml++2.6-dev libsqlite3-dev libcpputest-dev gettext python3-lxml libgspell-1-dev libcurl4-openssl-dev | awk '/^ii/ {print $2,$3}'
 `